In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
data_103507 = pd.read_csv('./data/[new] yancheng_train_20171226.csv')

C:\Users\jinda\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
price_map = {'5WL':0, '5-8W':1, '8-10W':2, '10-15W':3, '15-20W':4, '20-25W':5, '25-35W':6, '35-50W':7, '50-75W':8}
data_103507['price_level'] = data_103507['price_level'].apply(lambda x: price_map[x])
if_charging_map = {'L': 1, 'T': 0}
data_103507['if_charging'] = data_103507['if_charging'].apply(lambda x: if_charging_map[x])
rated_passenger_map = {'5':0, '7-8':1, '7':2, '6-7':3, '6-8':4, '4':5, '4-5':6, '5-7':7, '5-8':8, '9':9}
data_103507['rated_passenger'] = data_103507['rated_passenger'].apply(lambda x: rated_passenger_map[x])

In [4]:
list_all = []
id_all = pd.read_csv('./data/yancheng_testA_20171225.csv')
for f in range(len(id_all)):
    list_all.append(data_103507[id_all.iloc[f].class_id == data_103507.class_id])

In [5]:
for ff in range(len(list_all)):
    list_all[ff] = list_all[ff].sort_values(by='sale_date')

In [6]:
list_merge = []
for single_class_id in list_all:
    last = 0
    list_merge_specific = pd.DataFrame(columns = ["sale_date", "class_id", "brand_id", "compartment", "department_id",
                                                  "if_charging","price_level", "driven_type_id", "newenergy_type_id",
                                                  "emission_standards_id", "if_MPV_id", "if_luxurious_id", "cylinder_number",
                                                  "rated_passenger","sale_quantity"])
    for ff in range(len(single_class_id)):
        now = single_class_id.iloc[ff].sale_date
        if last == now:
            list_merge_specific.iloc[-1].sale_quantity +=  single_class_id.iloc[ff].sale_quantity
        else:
            list_merge_specific.loc[list_merge_specific.shape[0]+1] = {"sale_date":single_class_id.iloc[ff].sale_date,
                                        "class_id":single_class_id.iloc[ff].class_id, 
                                        "brand_id":single_class_id.iloc[ff].brand_id,
                                        "if_charging":single_class_id.iloc[ff].if_charging,
                                        "compartment":single_class_id.iloc[ff].compartment,
                                        "department_id":single_class_id.iloc[ff].department_id,
                                        "price_level":single_class_id.iloc[ff].price_level,
                                        "driven_type_id":single_class_id.iloc[ff].driven_type_id,
                                        "newenergy_type_id":single_class_id.iloc[ff].newenergy_type_id,
                                        "emission_standards_id":single_class_id.iloc[ff].emission_standards_id, 
                                        "if_MPV_id":single_class_id.iloc[ff].if_MPV_id, 
                                        "if_luxurious_id":single_class_id.iloc[ff].if_luxurious_id, 
                                        "cylinder_number":single_class_id.iloc[ff].cylinder_number,
                                        "rated_passenger":single_class_id.iloc[ff].rated_passenger,
                                        "sale_quantity":single_class_id.iloc[ff].sale_quantity}
        last = now
    list_merge.append(list_merge_specific)

In [7]:
list_merge[0].head(5)

,sale_date,class_id,brand_id,compartment,department_id,if_charging,price_level,driven_type_id,newenergy_type_id,emission_standards_id,if_MPV_id,if_luxurious_id,cylinder_number,rated_passenger,sale_quantity
1,201503,103507,831,2,3,1,3,3,1,3,2,1,4,0,58
2,201504,103507,831,2,3,1,3,1,1,3,2,1,4,0,232
3,201505,103507,831,2,3,0,3,1,1,3,2,1,4,0,226
4,201506,103507,831,2,3,1,3,1,1,3,2,1,4,0,286
5,201507,103507,831,2,3,1,3,3,1,1,2,1,4,0,297

In [9]:
train_all = []
for ff in list_merge:
    every = []
    for f in range(1, len(ff)-1):
        if ff.iloc[f].sale_date%1000 - 1 ==  ff.iloc[f-1].sale_date%1000 and ff.iloc[f+1].sale_date%1000 == ff.iloc[f].sale_date%1000 + 1:
            every.append(ff.iloc[f].class_id)
            every.append(((ff.iloc[f].sale_date)%1000)//100)   # 年份
            every.append(((ff.iloc[f].sale_date)%100))  # 月份
            every.append((ff.iloc[f].brand_id))
            every.append(ff.iloc[f].compartment)
            every.append(ff.iloc[f].department_id)
            every.append(ff.iloc[f].price_level)
            every.append(ff.iloc[f].if_charging)
            every.append(ff.iloc[f].driven_type_id)
            every.append(ff.iloc[f].newenergy_type_id)
            every.append(ff.iloc[f].emission_standards_id)
            every.append(ff.iloc[f].if_MPV_id)
            every.append(ff.iloc[f].if_luxurious_id)
            every.append(ff.iloc[f].cylinder_number)
            every.append(ff.iloc[f].rated_passenger)
            every.append(ff.iloc[f-1].sale_quantity)   # 第一个月
            every.append(ff.iloc[f].sale_quantity)     # 第二个月
            every.append(ff.iloc[f+1].sale_quantity)   # 第三个月
            train_all.append(every)
            every = []
train_all[0]

[103507, 5, 4, 831, 2, 3, 3, 1, 1, 1, 3, 2, 1, 4, 0, 58, 232, 226]

<font color=orange size=6>用于再次合并</font>

In [10]:
train_all = pd.DataFrame(np.array(train_all))

In [11]:
train_all.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,103507,5,4,831,2,3,3,1,1,1,3,2,1,4,0,58,232,226
1,103507,5,5,831,2,3,3,0,1,1,3,2,1,4,0,232,226,286
2,103507,5,6,831,2,3,3,1,1,1,3,2,1,4,0,226,286,297
3,103507,5,7,831,2,3,3,1,3,1,1,2,1,4,0,286,297,355
4,103507,5,8,831,2,3,3,1,1,1,3,2,1,4,0,297,355,442

In [12]:
pd.DataFrame.to_csv(train_all, './data/yanchen_data_process_for_train_201801311718.csv', index=False)

<font color=orange size=6>对每个参数进行分析</font>

In [12]:
print(list_merge[0].columns)
print(list_merge[0].head(5))
list_all_df = pd.DataFrame.merge(list_merge[0],list_merge[1])
for ff in list_merge:
    list_all_df = pd.DataFrame.merge(list_all_df, ff, how='outer')

Index(['sale_date', 'class_id', 'brand_id', 'compartment', 'department_id',
       'if_charging', 'price_level', 'driven_type_id', 'newenergy_type_id',
       'emission_standards_id', 'if_MPV_id', 'if_luxurious_id',
       'cylinder_number', 'rated_passenger', 'sale_quantity'],
      dtype='object')
  sale_date class_id brand_id compartment department_id if_charging  \
1    201503   103507      831           2             3           1
2    201504   103507      831           2             3           1
3    201505   103507      831           2             3           1
4    201506   103507      831           2             3           1
5    201507   103507      831           2             3           1

  price_level driven_type_id newenergy_type_id emission_standards_id  \
1           3              3                 1                     3
2           3              1                 1                     3
3           3              1                 1                     3
4           3              1                 1                     3
5           3              3                 1                     1

  if_MPV_id if_luxurious_id cylinder_number rated_passenger sale_quantity
1         2               1               4               0            58
2         2               1               4               0           232
3         2               1               4               0           226
4         2               1               4               0           286
5         2               1               4               0           297

In [16]:
test_all = []
for f in range(len(id_all)):
    every = []
    for ff in list_merge:
        if ff.iloc[0].class_id == id_all.iloc[f].class_id:
            temp = ff.iloc[np.array([ff.class_id == id_all.iloc[f].class_id] and [ff.sale_date == 201710]).tolist()[0].index(True)]
            print(ff.class_id)
            every.append(temp.class_id)
            every.append(((temp.sale_date)%1000)//100)   # 年份
            every.append(((temp.sale_date)%100))  # 月份
            every.append((temp.brand_id))
            every.append(temp.compartment)
            every.append(temp.department_id)
            every.append(temp.price_level)
            every.append(temp.if_charging)
            every.append(temp.driven_type_id)
            every.append(temp.newenergy_type_id)
            every.append(temp.emission_standards_id)
            every.append(temp.if_MPV_id)
            every.append(temp.if_luxurious_id)
            every.append(temp.cylinder_number)
            every.append(temp.rated_passenger)
            every.append(ff.iloc[np.array([ff.class_id == id_all.iloc[f].class_id] and [ff.sale_date == 201710]).tolist()[0].index(True)-1].sale_quantity)   # 第一个月
            every.append(temp.sale_quantity)     # 第二个月
            test_all.append(every)
            every = []
    print("ok")

1     103507
2     103507
3     103507
4     103507
5     103507
6     103507
7     103507
8     103507
9     103507
10    103507
11    103507
12    103507
13    103507
14    103507
15    103507
16    103507
17    103507
18    103507
19    103507
20    103507
21    103507
22    103507
23    103507
24    103507
25    103507
26    103507
27    103507
28    103507
29    103507
30    103507
31    103507
32    103507
Name: class_id, dtype: object
ok
1     124140
2     124140
3     124140
4     124140
5     124140
6     124140
7     124140
8     124140
9     124140
10    124140
11    124140
12    124140
13    124140
14    124140
15    124140
16    124140
17    124140
18    124140
19    124140
20    124140
21    124140
22    124140
23    124140
24    124140
25    124140
26    124140
27    124140
28    124140
29    124140
30    124140
31    124140
32    124140
33    124140
34    124140
35    124140
36    124140
37    124140
38    124140
39    124140
40    124140
41    124140
42    124140
Name: class_id, dtype: object
ok
1     125403
2     125403
3     125403
4     125403
5     125403
6     125403
7     125403
8     125403
9     125403
10    125403
11    125403
12    125403
13    125403
14    125403
15    125403
16    125403
17    125403
18    125403
19    125403
20    125403
21    125403
22    125403
23    125403
24    125403
25    125403
26    125403
27    125403
28    125403
29    125403
30    125403
       ...
41    125403
42    125403
43    125403
44    125403
45    125403
46    125403
47    125403
48    125403
49    125403
50    125403
51    125403
52    125403
53    125403
54    125403
55    125403
56    125403
57    125403
58    125403
59    125403
60    125403
61    125403
62    125403
63    125403
64    125403
65    125403
66    125403
67    125403
68    125403
69    125403
70    125403
Name: class_id, Length: 70, dtype: object
ok
1     136916
2     136916
3     136916
4     136916
5     136916
6     136916
7     136916
8     136916
9     136916
10    136916
11    136916
12    136916
13    136916
14    136916
15    136916
16    136916
17    136916
18    136916
19    136916
20    136916
21    136916
22    136916
23    136916
24    136916
25    136916
26    136916
27    136916
28    136916
29    136916
30    136916
       ...
41    136916
42    136916
43    136916
44    136916
45    136916
46    136916
47    136916
48    136916
49    136916
50    136916
51    136916
52    136916
53    136916
54    136916
55    136916
56    136916
57    136916
58    136916
59    136916
60    136916
61    136916
62    136916
63    136916
64    136916
65    136916
66    136916
67    136916
68    136916
69    136916
70    136916
Name: class_id, Length: 70, dtype: object
ok
1    169673
2    169673
3    169673
4    169673
5    169673
Name: class_id, dtype: object
ok
1     175962
2     175962
3     175962
4     175962
5     175962
6     175962
7     175962
8     175962
9     175962
10    175962
11    175962
12    175962
13    175962
14    175962
15    175962
16    175962
17    175962
18    175962
19    175962
20    175962
21    175962
22    175962
23    175962
24    175962
25    175962
26    175962
27    175962
28    175962
29    175962
30    175962
31    175962
32    175962
33    175962
34    175962
35    175962
36    175962
37    175962
38    175962
39    175962
40    175962
41    175962
42    175962
43    175962
44    175962
45    175962
46    175962
47    175962
48    175962
49    175962
50    175962
51    175962
52    175962
53    175962
54    175962
55    175962
56    175962
57    175962
58    175962
59    175962
Name: class_id, dtype: object
ok
1     178529
2     178529
3     178529
4     178529
5     178529
6     178529
7     178529
8     178529
9     178529
10    178529
11    178529
12    178529
13    178529
14    178529
15    178529
16    178529
17    178529
18    178529
19    178529
20    178529
21    178529
22    178529
23    178529
24    178529
25    178529
26    178529
27    178529
28    178529
29    178529
30    178529
       ...
41    178529
42    178529
43    178529
44    178529
45    178529
46    178529
47    178529
48    178529
49    178529
50    178529
51    178529
52    178529
53    178529
54    178529
55    178529
56    178529
57    178529
58    178529
59    178529
60    178529
61    178529
62    178529
63    178529
64    178529
65    178529
66    178529
67    178529
68    178529
69    178529
70    178529
Name: class_id, Length: 70, dtype: object
ok
1     186250
2     186250
3     186250
4     186250
5     186250
6     186250
7     186250
8     186250
9     186250
10    186250
11    186250
12    186250
13    186250
14    186250
15    186250
16    186250
17    186250
18    186250
19    186250
20    186250
21    186250
Name: class_id, dtype: object
ok
1    194201
2    194201
Name: class_id, dtype: object
ok
1     194450
2     194450
3     194450
4     194450
5     194450
6     194450
7     194450
8     194450
9     194450
10    194450
11    194450
12    194450
13    194450
14    194450
15    194450
16    194450
17    194450
18    194450
19    194450
20    194450
21    194450
22    194450
23    194450
24    194450
25    194450
26    194450
27    194450
28    194450
29    194450
30    194450
       ...
40    194450
41    194450
42    194450
43    194450
44    194450
45    194450
46    194450
47    194450
48    194450
49    194450
50    194450
51    194450
52    194450
53    194450
54    194450
55    194450
56    194450
57    194450
58    194450
59    194450
60    194450
61    194450
62    194450
63    194450
64    194450
65    194450
66    194450
67    194450
68    194450
69    194450
Name: class_id, Length: 69, dtype: object
ok
1     198427
2     198427
3     198427
4     198427
5     198427
6     198427
7     198427
8     198427
9     198427
10    198427
11    198427
12    198427
13    198427
14    198427
15    198427
16    198427
17    198427
18    198427
19    198427
20    198427
21    198427
22    198427
23    198427
24    198427
25    198427
26    198427
27    198427
28    198427
29    198427
30    198427
31    198427
32    198427
33    198427
34    198427
35    198427
36    198427
37    198427
38    198427
39    198427
40    198427
41    198427
42    198427
43    198427
44    198427
45    198427
46    198427
47    198427
48    198427
49    198427
50    198427
51    198427
52    198427
53    198427
Name: class_id, dtype: object
ok
1     206765
2     206765
3     206765
4     206765
5     206765
6     206765
7     206765
8     206765
9     206765
10    206765
11    206765
12    206765
13    206765
14    206765
15    206765
16    206765
17    206765
18    206765
19    206765
20    206765
21    206765
22    206765
23    206765
24    206765
25    206765
26    206765
27    206765
28    206765
Name: class_id, dtype: object
ok
1     209945
2     209945
3     209945
4     209945
5     209945
6     209945
7     209945
8     209945
9     209945
10    209945
11    209945
12    209945
13    209945
14    209945
15    209945
16    209945
17    209945
18    209945
19    209945
20    209945
21    209945
22    209945
23    209945
24    209945
25    209945
26    209945
27    209945
28    209945
29    209945
30    209945
       ...
41    209945
42    209945
43    209945
44    209945
45    209945
46    209945
47    209945
48    209945
49    209945
50    209945
51    209945
52    209945
53    209945
54    209945
55    209945
56    209945
57    209945
58    209945
59    209945
60    209945
61    209945
62    209945
63    209945
64    209945
65    209945
66    209945
67    209945
68    209945
69    209945
70    209945
Name: class_id, Length: 70, dtype: object
ok
1     219195
2     219195
3     219195
4     219195
5     219195
6     219195
7     219195
8     219195
9     219195
10    219195
11    219195
12    219195
13    219195
14    219195
15    219195
16    219195
17    219195
18    219195
19    219195
20    219195
21    219195
22    219195
23    219195
24    219195
25    219195
26    219195
27    219195
28    219195
29    219195
30    219195
31    219195
32    219195
33    219195
34    219195
35    219195
36    219195
37    219195
38    219195
39    219195
Name: class_id, dtype: object
ok
1     221795
2     221795
3     221795
4     221795
5     221795
6     221795
7     221795
8     221795
9     221795
10    221795
11    221795
12    221795
13    221795
14    221795
15    221795
16    221795
17    221795
18    221795
19    221795
20    221795
21    221795
22    221795
23    221795
24    221795
25    221795
26    221795
27    221795
28    221795
29    221795
30    221795
31    221795
32    221795
33    221795
34    221795
35    221795
36    221795
37    221795
38    221795
39    221795
40    221795
41    221795
42    221795
43    221795
44    221795
45    221795
46    221795
47    221795
48    221795
49    221795
50    221795
51    221795
52    221795
53    221795
54    221795
55    221795
Name: class_id, dtype: object
ok
1     245609
2     245609
3     245609
4     245609
5     245609
6     245609
7     245609
8     245609
9     245609
10    245609
11    245609
12    245609
13    245609
14    245609
15    245609
16    245609
17    245609
18    245609
19    245609
Name: class_id, dtype: object
ok
1     248352
2     248352
3     248352
4     248352
5     248352
6     248352
7     248352
8     248352
9     248352
10    248352
11    248352
12    248352
13    248352
14    248352
15    248352
16    248352
17    248352
18    248352
19    248352
20    248352
21    248352
22    248352
23    248352
24    248352
25    248352
26    248352
27    248352
28    248352
29    248352
30    248352
       ...
41    248352
42    248352
43    248352
44    248352
45    248352
46    248352
47    248352
48    248352
49    248352
50    248352
51    248352
52    248352
53    248352
54    248352
55    248352
56    248352
57    248352
58    248352
59    248352
60    248352
61    248352
62    248352
63    248352
64    248352
65    248352
66    248352
67    248352
68    248352
69    248352
70    248352
Name: class_id, Length: 70, dtype: object

ok
1     249875
2     249875
3     249875
4     249875
5     249875
6     249875
7     249875
8     249875
9     249875
10    249875
11    249875
12    249875
Name: class_id, dtype: object
ok
1     250658
2     250658
3     250658
4     250658
5     250658
6     250658
7     250658
8     250658
9     250658
10    250658
11    250658
12    250658
13    250658
14    250658
15    250658
16    250658
17    250658
18    250658
19    250658
20    250658
Name: class_id, dtype: object
ok
1     265980
2     265980
3     265980
4     265980
5     265980
6     265980
7     265980
8     265980
9     265980
10    265980
11    265980
12    265980
13    265980
14    265980
15    265980
16    265980
17    265980
18    265980
19    265980
20    265980
21    265980
22    265980
23    265980
24    265980
25    265980
26    265980
27    265980
28    265980
29    265980
30    265980
       ...
40    265980
41    265980
42    265980
43    265980
44    265980
45    265980
46    265980
47    265980
48    265980
49    265980
50    265980
51    265980
52    265980
53    265980
54    265980
55    265980
56    265980
57    265980
58    265980
59    265980
60    265980
61    265980
62    265980
63    265980
64    265980
65    265980
66    265980
67    265980
68    265980
69    265980
Name: class_id, Length: 69, dtype: object
ok
1     270690
2     270690
3     270690
4     270690
5     270690
6     270690
7     270690
8     270690
9     270690
10    270690
11    270690
12    270690
13    270690
14    270690
15    270690
16    270690
17    270690
18    270690
19    270690
20    270690
21    270690
22    270690
23    270690
24    270690
25    270690
26    270690
27    270690
28    270690
29    270690
30    270690
31    270690
32    270690
33    270690
34    270690
Name: class_id, dtype: object
ok
1     281301
2     281301
3     281301
4     281301
5     281301
6     281301
7     281301
8     281301
9     281301
10    281301
11    281301
12    281301
13    281301
14    281301
15    281301
16    281301
17    281301
18    281301
19    281301
20    281301
21    281301
22    281301
23    281301
24    281301
25    281301
26    281301
27    281301
28    281301
29    281301
30    281301
       ...
41    281301
42    281301
43    281301
44    281301
45    281301
46    281301
47    281301
48    281301
49    281301
50    281301
51    281301
52    281301
53    281301
54    281301
55    281301
56    281301
57    281301
58    281301
59    281301
60    281301
61    281301
62    281301
63    281301
64    281301
65    281301
66    281301
67    281301
68    281301
69    281301
70    281301
Name: class_id, Length: 70, dtype: object
ok
1     281792
2     281792
3     281792
4     281792
5     281792
6     281792
7     281792
8     281792
9     281792
10    281792
11    281792
12    281792
13    281792
14    281792
15    281792
16    281792
17    281792
18    281792
19    281792
20    281792
21    281792
22    281792
23    281792
24    281792
25    281792
26    281792
27    281792
28    281792
29    281792
30    281792
31    281792
32    281792
33    281792
34    281792
35    281792
36    281792
37    281792
38    281792
39    281792
40    281792
41    281792
Name: class_id, dtype: object
ok
1     289386
2     289386
3     289386
4     289386
5     289386
6     289386
7     289386
8     289386
9     289386
10    289386
11    289386
12    289386
13    289386
14    289386
15    289386
16    289386
17    289386
18    289386
19    289386
20    289386
21    289386
22    289386
23    289386
24    289386
25    289386
26    289386
27    289386
28    289386
29    289386
30    289386
31    289386
32    289386
33    289386
34    289386
35    289386
36    289386
37    289386
38    289386
39    289386
40    289386
41    289386
Name: class_id, dtype: object
ok
1     289403
2     289403
3     289403
4     289403
5     289403
6     289403
7     289403
8     289403
9     289403
10    289403
11    289403
12    289403
13    289403
14    289403
15    289403
16    289403
17    289403
18    289403
Name: class_id, dtype: object
ok
1     290854
2     290854
3     290854
4     290854
5     290854
6     290854
7     290854
8     290854
9     290854
10    290854
11    290854
12    290854
13    290854
14    290854
15    290854
16    290854
17    290854
18    290854
19    290854
20    290854
21    290854
22    290854
23    290854
24    290854
25    290854
26    290854
27    290854
28    290854
29    290854
30    290854
       ...
41    290854
42    290854
43    290854
44    290854
45    290854
46    290854
47    290854
48    290854
49    290854
50    290854
51    290854
52    290854
53    290854
54    290854
55    290854
56    290854
57    290854
58    290854
59    290854
60    290854
61    290854
62    290854
63    290854
64    290854
65    290854
66    290854
67    290854
68    290854
69    290854
70    290854
Name: class_id, Length: 70, dtype: object
ok
1     291086
2     291086
3     291086
4     291086
5     291086
6     291086
7     291086
8     291086
9     291086
10    291086
11    291086
12    291086
13    291086
14    291086
15    291086
16    291086
17    291086
18    291086
19    291086
20    291086
21    291086
22    291086
23    291086
24    291086
25    291086
26    291086
27    291086
28    291086
29    291086
30    291086
       ...
41    291086
42    291086
43    291086
44    291086
45    291086
46    291086
47    291086
48    291086
49    291086
50    291086
51    291086
52    291086
53    291086
54    291086
55    291086
56    291086
57    291086
58    291086
59    291086
60    291086
61    291086
62    291086
63    291086
64    291086
65    291086
66    291086
67    291086
68    291086
69    291086
70    291086
Name: class_id, Length: 70, dtype: object
ok
1     291514
2     291514
3     291514
4     291514
5     291514
6     291514
7     291514
8     291514
9     291514
10    291514
11    291514
12    291514
13    291514
14    291514
15    291514
16    291514
17    291514
18    291514
19    291514
20    291514
21    291514
22    291514
23    291514
24    291514
25    291514
26    291514
27    291514
28    291514
29    291514
30    291514
31    291514
32    291514
33    291514
34    291514
35    291514
36    291514
37    291514
38    291514
39    291514
40    291514
41    291514
42    291514
43    291514
44    291514
45    291514
46    291514
47    291514
48    291514
49    291514
50    291514
51    291514
52    291514
53    291514
54    291514
55    291514
56    291514
57    291514
58    291514
59    291514
60    291514
Name: class_id, dtype: object
ok
1     302513
2     302513
3     302513
4     302513
5     302513
6     302513
7     302513
8     302513
9     302513
10    302513
11    302513
12    302513
Name: class_id, dtype: object
ok
1     304458
2     304458
3     304458
4     304458
5     304458
6     304458
7     304458
8     304458
9     304458
10    304458
11    304458
12    304458
13    304458
14    304458
15    304458
16    304458
17    304458
18    304458
19    304458
20    304458
21    304458
22    304458
23    304458
24    304458
25    304458
26    304458
27    304458
28    304458
29    304458
30    304458
       ...
41    304458
42    304458
43    304458
44    304458
45    304458
46    304458
47    304458
48    304458
49    304458
50    304458
51    304458
52    304458
53    304458
54    304458
55    304458
56    304458
57    304458
58    304458
59    304458
60    304458
61    304458
62    304458
63    304458
64    304458
65    304458
66    304458
67    304458
68    304458
69    304458
70    304458
Name: class_id, Length: 70, dtype: object
ok
1     308913
2     308913
3     308913
4     308913
5     308913
6     308913
7     308913
8     308913
9     308913
10    308913
11    308913
12    308913
13    308913
14    308913
15    308913
16    308913
17    308913
18    308913
19    308913
20    308913
21    308913
22    308913
23    308913
24    308913
25    308913
26    308913
27    308913
28    308913
29    308913
30    308913
31    308913
32    308913
33    308913
34    308913
35    308913
36    308913
37    308913
38    308913
39    308913
40    308913
41    308913
42    308913
43    308913
44    308913
45    308913
46    308913
47    308913
48    308913
49    308913
50    308913
51    308913
52    308913
Name: class_id, dtype: object

ok
1     321683
2     321683
3     321683
4     321683
5     321683
6     321683
7     321683
8     321683
9     321683
10    321683
11    321683
12    321683
13    321683
14    321683
15    321683
16    321683
17    321683
18    321683
19    321683
20    321683
21    321683
22    321683
23    321683
24    321683
25    321683
26    321683
27    321683
28    321683
29    321683
30    321683
       ...
41    321683
42    321683
43    321683
44    321683
45    321683
46    321683
47    321683
48    321683
49    321683
50    321683
51    321683
52    321683
53    321683
54    321683
55    321683
56    321683
57    321683
58    321683
59    321683
60    321683
61    321683
62    321683
63    321683
64    321683
65    321683
66    321683
67    321683
68    321683
69    321683
70    321683
Name: class_id, Length: 70, dtype: object
ok
1    340175
2    340175
3    340175
4    340175
Name: class_id, dtype: object
ok
1     347384
2     347384
3     347384
4     347384
5     347384
6     347384
7     347384
8     347384
9     347384
10    347384
11    347384
12    347384
13    347384
14    347384
15    347384
16    347384
17    347384
18    347384
19    347384
20    347384
21    347384
22    347384
23    347384
24    347384
25    347384
26    347384
27    347384
28    347384
29    347384
30    347384
       ...
32    347384
33    347384
34    347384
35    347384
36    347384
37    347384
38    347384
39    347384
40    347384
41    347384
42    347384
43    347384
44    347384
45    347384
46    347384
47    347384
48    347384
49    347384
50    347384
51    347384
52    347384
53    347384
54    347384
55    347384
56    347384
57    347384
58    347384
59    347384
60    347384
61    347384
Name: class_id, Length: 61, dtype: object
ok
1     348641
2     348641
3     348641
4     348641
5     348641
6     348641
7     348641
8     348641
9     348641
10    348641
11    348641
12    348641
13    348641
14    348641
15    348641
16    348641
17    348641
18    348641
19    348641
20    348641
21    348641
22    348641
23    348641
24    348641
25    348641
26    348641
Name: class_id, dtype: object
ok
1     349023
2     349023
3     349023
4     349023
5     349023
6     349023
7     349023
8     349023
9     349023
10    349023
11    349023
12    349023
13    349023
14    349023
15    349023
16    349023
17    349023
18    349023
19    349023
20    349023
21    349023
22    349023
23    349023
24    349023
25    349023
26    349023
27    349023
28    349023
29    349023
30    349023
       ...
41    349023
42    349023
43    349023
44    349023
45    349023
46    349023
47    349023
48    349023
49    349023
50    349023
51    349023
52    349023
53    349023
54    349023
55    349023
56    349023
57    349023
58    349023
59    349023
60    349023
61    349023
62    349023
63    349023
64    349023
65    349023
66    349023
67    349023
68    349023
69    349023
70    349023
Name: class_id, Length: 70, dtype: object
ok
1     350259
2     350259
3     350259
4     350259
5     350259
6     350259
7     350259
8     350259
9     350259
10    350259
11    350259
12    350259
13    350259
14    350259
15    350259
16    350259
17    350259
18    350259
19    350259
20    350259
21    350259
22    350259
23    350259
24    350259
25    350259
26    350259
27    350259
28    350259
29    350259
30    350259
31    350259
32    350259
33    350259
34    350259
Name: class_id, dtype: object
ok
1     354068
2     354068
3     354068
4     354068
5     354068
6     354068
7     354068
8     354068
9     354068
10    354068
11    354068
12    354068
13    354068
14    354068
15    354068
16    354068
17    354068
18    354068
19    354068
20    354068
21    354068
22    354068
23    354068
24    354068
25    354068
26    354068
27    354068
28    354068
29    354068
30    354068
       ...
41    354068
42    354068
43    354068
44    354068
45    354068
46    354068
47    354068
48    354068
49    354068
50    354068
51    354068
52    354068
53    354068
54    354068
55    354068
56    354068
57    354068
58    354068
59    354068
60    354068
61    354068
62    354068
63    354068
64    354068
65    354068
66    354068
67    354068
68    354068
69    354068
70    354068
Name: class_id, Length: 70, dtype: object
ok
1     356986
2     356986
3     356986
4     356986
5     356986
6     356986
7     356986
8     356986
9     356986
10    356986
11    356986
12    356986
13    356986
14    356986
15    356986
16    356986
17    356986
18    356986
19    356986
20    356986
21    356986
22    356986
23    356986
24    356986
25    356986
26    356986
27    356986
28    356986
29    356986
30    356986
31    356986
32    356986
33    356986
34    356986
35    356986
36    356986
37    356986
38    356986
39    356986
40    356986
41    356986
42    356986
43    356986
44    356986
45    356986
46    356986
47    356986
48    356986
49    356986
50    356986
Name: class_id, dtype: object
ok
1    359378
2    359378
Name: class_id, dtype: object
ok
1     360648
2     360648
3     360648
4     360648
5     360648
6     360648
7     360648
8     360648
9     360648
10    360648
11    360648
12    360648
13    360648
14    360648
15    360648
16    360648
17    360648
18    360648
19    360648
20    360648
21    360648
22    360648
23    360648
24    360648
25    360648
26    360648
27    360648
28    360648
29    360648
30    360648
31    360648
32    360648
33    360648
34    360648
35    360648
36    360648
37    360648
38    360648
39    360648
40    360648
41    360648
42    360648
43    360648
44    360648
45    360648
46    360648
Name: class_id, dtype: object
ok
1    376193
2    376193
Name: class_id, dtype: object
ok
1     378356
2     378356
3     378356
4     378356
5     378356
6     378356
7     378356
8     378356
9     378356
10    378356
11    378356
12    378356
13    378356
14    378356
15    378356
16    378356
17    378356
18    378356
19    378356
20    378356
Name: class_id, dtype: object
ok
1     378536
2     378536
3     378536
4     378536
5     378536
6     378536
7     378536
8     378536
9     378536
10    378536
11    378536
12    378536
Name: class_id, dtype: object
ok
1     379265
2     379265
3     379265
4     379265
5     379265
6     379265
7     379265
8     379265
9     379265
10    379265
11    379265
12    379265
13    379265
14    379265
Name: class_id, dtype: object
ok
1     379876
2     379876
3     379876
4     379876
5     379876
6     379876
7     379876
8     379876
9     379876
10    379876
11    379876
12    379876
13    379876
14    379876
15    379876
16    379876
17    379876
18    379876
19    379876
20    379876
21    379876
22    379876
23    379876
24    379876
25    379876
26    379876
27    379876
28    379876
29    379876
30    379876
       ...
41    379876
42    379876
43    379876
44    379876
45    379876
46    379876
47    379876
48    379876
49    379876
50    379876
51    379876
52    379876
53    379876
54    379876
55    379876
56    379876
57    379876
58    379876
59    379876
60    379876
61    379876
62    379876
63    379876
64    379876
65    379876
66    379876
67    379876
68    379876
69    379876
70    379876
Name: class_id, Length: 70, dtype: object
ok
1     384924
2     384924
3     384924
4     384924
5     384924
6     384924
7     384924
8     384924
9     384924
10    384924
11    384924
12    384924
13    384924
14    384924
15    384924
16    384924
17    384924
18    384924
19    384924
20    384924
21    384924
22    384924
23    384924
24    384924
25    384924
26    384924
27    384924
28    384924
29    384924
30    384924
       ...
41    384924
42    384924
43    384924
44    384924
45    384924
46    384924
47    384924
48    384924
49    384924
50    384924
51    384924
52    384924
53    384924
54    384924
55    384924
56    384924
57    384924
58    384924
59    384924
60    384924
61    384924
62    384924
63    384924
64    384924
65    384924
66    384924
67    384924
68    384924
69    384924
70    384924
Name: class_id, Length: 70, dtype: object
ok
1     392593
2     392593
3     392593
4     392593
5     392593
6     392593
7     392593
8     392593
9     392593
10    392593
11    392593
12    392593
13    392593
14    392593
15    392593
Name: class_id, dtype: object

ok
1     395234
2     395234
3     395234
4     395234
5     395234
6     395234
7     395234
8     395234
9     395234
10    395234
11    395234
12    395234
13    395234
14    395234
15    395234
16    395234
17    395234
18    395234
19    395234
20    395234
21    395234
22    395234
23    395234
24    395234
25    395234
26    395234
27    395234
28    395234
29    395234
30    395234
       ...
33    395234
34    395234
35    395234
36    395234
37    395234
38    395234
39    395234
40    395234
41    395234
42    395234
43    395234
44    395234
45    395234
46    395234
47    395234
48    395234
49    395234
50    395234
51    395234
52    395234
53    395234
54    395234
55    395234
56    395234
57    395234
58    395234
59    395234
60    395234
61    395234
62    395234
Name: class_id, Length: 62, dtype: object
ok
1     401052
2     401052
3     401052
4     401052
5     401052
6     401052
7     401052
8     401052
9     401052
10    401052
11    401052
12    401052
13    401052
14    401052
15    401052
16    401052
17    401052
18    401052
19    401052
20    401052
21    401052
22    401052
23    401052
24    401052
25    401052
26    401052
27    401052
28    401052
29    401052
30    401052
Name: class_id, dtype: object
ok
1     409854
2     409854
3     409854
4     409854
5     409854
6     409854
7     409854
8     409854
9     409854
10    409854
11    409854
12    409854
13    409854
14    409854
15    409854
16    409854
17    409854
18    409854
19    409854
20    409854
21    409854
22    409854
23    409854
24    409854
25    409854
26    409854
27    409854
28    409854
29    409854
30    409854
       ...
41    409854
42    409854
43    409854
44    409854
45    409854
46    409854
47    409854
48    409854
49    409854
50    409854
51    409854
52    409854
53    409854
54    409854
55    409854
56    409854
57    409854
58    409854
59    409854
60    409854
61    409854
62    409854
63    409854
64    409854
65    409854
66    409854
67    409854
68    409854
69    409854
70    409854
Name: class_id, Length: 70, dtype: object
ok
1     412240
2     412240
3     412240
4     412240
5     412240
6     412240
7     412240
8     412240
9     412240
10    412240
11    412240
12    412240
13    412240
14    412240
15    412240
16    412240
17    412240
18    412240
Name: class_id, dtype: object
ok
1     416749
2     416749
3     416749
4     416749
5     416749
6     416749
7     416749
8     416749
9     416749
10    416749
11    416749
12    416749
13    416749
14    416749
15    416749
16    416749
17    416749
18    416749
19    416749
20    416749
21    416749
22    416749
23    416749
24    416749
25    416749
26    416749
27    416749
28    416749
29    416749
30    416749
31    416749
32    416749
33    416749
Name: class_id, dtype: object
ok
1    417803
2    417803
3    417803
4    417803
Name: class_id, dtype: object
ok
1     425432
2     425432
3     425432
4     425432
5     425432
6     425432
7     425432
8     425432
9     425432
10    425432
11    425432
12    425432
13    425432
14    425432
15    425432
16    425432
17    425432
18    425432
19    425432
20    425432
21    425432
22    425432
23    425432
24    425432
25    425432
26    425432
27    425432
28    425432
29    425432
30    425432
       ...
41    425432
42    425432
43    425432
44    425432
45    425432
46    425432
47    425432
48    425432
49    425432
50    425432
51    425432
52    425432
53    425432
54    425432
55    425432
56    425432
57    425432
58    425432
59    425432
60    425432
61    425432
62    425432
63    425432
64    425432
65    425432
66    425432
67    425432
68    425432
69    425432
70    425432
Name: class_id, Length: 70, dtype: object
ok
1     436105
2     436105
3     436105
4     436105
5     436105
6     436105
7     436105
8     436105
9     436105
10    436105
11    436105
12    436105
13    436105
14    436105
15    436105
16    436105
17    436105
18    436105
19    436105
20    436105
21    436105
22    436105
23    436105
24    436105
25    436105
26    436105
27    436105
28    436105
29    436105
30    436105
31    436105
32    436105
33    436105
34    436105
35    436105
36    436105
37    436105
38    436105
39    436105
40    436105
41    436105
42    436105
43    436105
44    436105
45    436105
46    436105
47    436105
48    436105
Name: class_id, dtype: object
ok
1    437063
2    437063
3    437063
4    437063
5    437063
6    437063
7    437063
8    437063
Name: class_id, dtype: object
ok
1     437598
2     437598
3     437598
4     437598
5     437598
6     437598
7     437598
8     437598
9     437598
10    437598
11    437598
12    437598
13    437598
14    437598
15    437598
16    437598
17    437598
18    437598
19    437598
20    437598
21    437598
22    437598
23    437598
24    437598
25    437598
26    437598
27    437598
28    437598
29    437598
Name: class_id, dtype: object
ok
1     453752
2     453752
3     453752
4     453752
5     453752
6     453752
7     453752
8     453752
9     453752
10    453752
11    453752
12    453752
13    453752
14    453752
15    453752
16    453752
17    453752
18    453752
19    453752
20    453752
21    453752
22    453752
23    453752
24    453752
25    453752
26    453752
27    453752
28    453752
29    453752
30    453752
       ...
40    453752
41    453752
42    453752
43    453752
44    453752
45    453752
46    453752
47    453752
48    453752
49    453752
50    453752
51    453752
52    453752
53    453752
54    453752
55    453752
56    453752
57    453752
58    453752
59    453752
60    453752
61    453752
62    453752
63    453752
64    453752
65    453752
66    453752
67    453752
68    453752
69    453752
Name: class_id, Length: 69, dtype: object
ok
1     468392
2     468392
3     468392
4     468392
5     468392
6     468392
7     468392
8     468392
9     468392
10    468392
11    468392
12    468392
13    468392
14    468392
15    468392
16    468392
17    468392
18    468392
19    468392
20    468392
21    468392
22    468392
23    468392
24    468392
25    468392
26    468392
27    468392
28    468392
29    468392
30    468392
       ...
41    468392
42    468392
43    468392
44    468392
45    468392
46    468392
47    468392
48    468392
49    468392
50    468392
51    468392
52    468392
53    468392
54    468392
55    468392
56    468392
57    468392
58    468392
59    468392
60    468392
61    468392
62    468392
63    468392
64    468392
65    468392
66    468392
67    468392
68    468392
69    468392
70    468392
Name: class_id, Length: 70, dtype: object
ok
1     472603
2     472603
3     472603
4     472603
5     472603
6     472603
7     472603
8     472603
9     472603
10    472603
11    472603
12    472603
13    472603
14    472603
15    472603
16    472603
17    472603
18    472603
19    472603
20    472603
21    472603
22    472603
23    472603
24    472603
25    472603
26    472603
27    472603
28    472603
29    472603
30    472603
       ...
41    472603
42    472603
43    472603
44    472603
45    472603
46    472603
47    472603
48    472603
49    472603
50    472603
51    472603
52    472603
53    472603
54    472603
55    472603
56    472603
57    472603
58    472603
59    472603
60    472603
61    472603
62    472603
63    472603
64    472603
65    472603
66    472603
67    472603
68    472603
69    472603
70    472603
Name: class_id, Length: 70, dtype: object
ok
1     475895
2     475895
3     475895
4     475895
5     475895
6     475895
7     475895
8     475895
9     475895
10    475895
11    475895
12    475895
Name: class_id, dtype: object
ok
1     481950
2     481950
3     481950
4     481950
5     481950
6     481950
7     481950
8     481950
9     481950
10    481950
11    481950
12    481950
13    481950
14    481950
15    481950
16    481950
17    481950
Name: class_id, dtype: object
ok
1     482497
2     482497
3     482497
4     482497
5     482497
6     482497
7     482497
8     482497
9     482497
10    482497
11    482497
12    482497
13    482497
14    482497
15    482497
16    482497
17    482497
18    482497
19    482497
20    482497
21    482497
22    482497
23    482497
24    482497
25    482497
26    482497
27    482497
28    482497
29    482497
30    482497
       ...
41    482497
42    482497
43    482497
44    482497
45    482497
46    482497
47    482497
48    482497
49    482497
50    482497
51    482497
52    482497
53    482497
54    482497
55    482497
56    482497
57    482497
58    482497
59    482497
60    482497
61    482497
62    482497
63    482497
64    482497
65    482497
66    482497
67    482497
68    482497
69    482497
70    482497
Name: class_id, Length: 70, dtype: object
ok
1     492952
2     492952
3     492952
4     492952
5     492952
6     492952
7     492952
8     492952
9     492952
10    492952
11    492952
12    492952
13    492952
14    492952
15    492952
16    492952
17    492952
18    492952
19    492952
20    492952
21    492952
22    492952
23    492952
24    492952
Name: class_id, dtype: object

ok
1     496459
2     496459
3     496459
4     496459
5     496459
6     496459
7     496459
8     496459
9     496459
10    496459
11    496459
12    496459
13    496459
14    496459
15    496459
16    496459
17    496459
18    496459
19    496459
20    496459
21    496459
22    496459
23    496459
24    496459
25    496459
26    496459
27    496459
28    496459
29    496459
30    496459
31    496459
32    496459
33    496459
34    496459
35    496459
36    496459
37    496459
38    496459
39    496459
40    496459
41    496459
42    496459
Name: class_id, dtype: object
ok
1     501564
2     501564
3     501564
4     501564
5     501564
6     501564
7     501564
8     501564
9     501564
10    501564
11    501564
12    501564
Name: class_id, dtype: object
ok
1     510309
2     510309
3     510309
4     510309
5     510309
6     510309
7     510309
8     510309
9     510309
10    510309
11    510309
12    510309
13    510309
14    510309
15    510309
16    510309
17    510309
18    510309
19    510309
20    510309
21    510309
22    510309
23    510309
Name: class_id, dtype: object
ok
1     516750
2     516750
3     516750
4     516750
5     516750
6     516750
7     516750
8     516750
9     516750
10    516750
11    516750
12    516750
13    516750
14    516750
15    516750
16    516750
17    516750
18    516750
19    516750
20    516750
21    516750
22    516750
23    516750
24    516750
25    516750
26    516750
27    516750
Name: class_id, dtype: object
ok
1     526401
2     526401
3     526401
4     526401
5     526401
6     526401
7     526401
8     526401
9     526401
10    526401
11    526401
12    526401
13    526401
14    526401
15    526401
16    526401
17    526401
18    526401
19    526401
20    526401
Name: class_id, dtype: object
ok
1     527765
2     527765
3     527765
4     527765
5     527765
6     527765
7     527765
8     527765
9     527765
10    527765
11    527765
Name: class_id, dtype: object
ok
1     527809
2     527809
3     527809
4     527809
5     527809
6     527809
7     527809
8     527809
9     527809
10    527809
11    527809
12    527809
13    527809
14    527809
15    527809
16    527809
17    527809
18    527809
19    527809
20    527809
21    527809
22    527809
23    527809
24    527809
25    527809
26    527809
27    527809
28    527809
29    527809
30    527809
       ...
41    527809
42    527809
43    527809
44    527809
45    527809
46    527809
47    527809
48    527809
49    527809
50    527809
51    527809
52    527809
53    527809
54    527809
55    527809
56    527809
57    527809
58    527809
59    527809
60    527809
61    527809
62    527809
63    527809
64    527809
65    527809
66    527809
67    527809
68    527809
69    527809
70    527809
Name: class_id, Length: 70, dtype: object
ok
1     540712
2     540712
3     540712
4     540712
5     540712
6     540712
7     540712
8     540712
9     540712
10    540712
11    540712
12    540712
13    540712
14    540712
15    540712
16    540712
17    540712
18    540712
19    540712
20    540712
Name: class_id, dtype: object
ok
1     559132
2     559132
3     559132
4     559132
5     559132
6     559132
7     559132
8     559132
9     559132
10    559132
11    559132
12    559132
13    559132
14    559132
15    559132
16    559132
17    559132
18    559132
19    559132
20    559132
21    559132
22    559132
23    559132
24    559132
25    559132
26    559132
27    559132
28    559132
29    559132
30    559132
       ...
41    559132
42    559132
43    559132
44    559132
45    559132
46    559132
47    559132
48    559132
49    559132
50    559132
51    559132
52    559132
53    559132
54    559132
55    559132
56    559132
57    559132
58    559132
59    559132
60    559132
61    559132
62    559132
63    559132
64    559132
65    559132
66    559132
67    559132
68    559132
69    559132
70    559132
Name: class_id, Length: 70, dtype: object
ok
1     560265
2     560265
3     560265
4     560265
5     560265
6     560265
7     560265
8     560265
9     560265
10    560265
11    560265
12    560265
13    560265
14    560265
15    560265
16    560265
17    560265
18    560265
19    560265
20    560265
21    560265
22    560265
23    560265
24    560265
25    560265
26    560265
27    560265
28    560265
29    560265
30    560265
31    560265
32    560265
33    560265
34    560265
35    560265
36    560265
37    560265
38    560265
39    560265
40    560265
41    560265
42    560265
43    560265
44    560265
45    560265
46    560265
47    560265
48    560265
49    560265
Name: class_id, dtype: object
ok
1     569154
2     569154
3     569154
4     569154
5     569154
6     569154
7     569154
8     569154
9     569154
10    569154
11    569154
12    569154
Name: class_id, dtype: object
ok
1     576298
2     576298
3     576298
4     576298
5     576298
6     576298
7     576298
8     576298
9     576298
10    576298
11    576298
12    576298
13    576298
14    576298
15    576298
16    576298
17    576298
18    576298
19    576298
20    576298
21    576298
22    576298
23    576298
24    576298
25    576298
26    576298
27    576298
28    576298
29    576298
30    576298
       ...
41    576298
42    576298
43    576298
44    576298
45    576298
46    576298
47    576298
48    576298
49    576298
50    576298
51    576298
52    576298
53    576298
54    576298
55    576298
56    576298
57    576298
58    576298
59    576298
60    576298
61    576298
62    576298
63    576298
64    576298
65    576298
66    576298
67    576298
68    576298
69    576298
70    576298
Name: class_id, Length: 70, dtype: object
ok
1     580470
2     580470
3     580470
4     580470
5     580470
6     580470
7     580470
8     580470
9     580470
10    580470
11    580470
12    580470
13    580470
14    580470
15    580470
16    580470
17    580470
18    580470
19    580470
20    580470
21    580470
22    580470
23    580470
24    580470
25    580470
26    580470
27    580470
28    580470
29    580470
30    580470
       ...
41    580470
42    580470
43    580470
44    580470
45    580470
46    580470
47    580470
48    580470
49    580470
50    580470
51    580470
52    580470
53    580470
54    580470
55    580470
56    580470
57    580470
58    580470
59    580470
60    580470
61    580470
62    580470
63    580470
64    580470
65    580470
66    580470
67    580470
68    580470
69    580470
70    580470
Name: class_id, Length: 70, dtype: object
ok
1     580634
2     580634
3     580634
4     580634
5     580634
6     580634
7     580634
8     580634
9     580634
10    580634
11    580634
12    580634
13    580634
14    580634
15    580634
16    580634
17    580634
18    580634
19    580634
20    580634
21    580634
22    580634
23    580634
24    580634
25    580634
26    580634
27    580634
28    580634
29    580634
30    580634
       ...
40    580634
41    580634
42    580634
43    580634
44    580634
45    580634
46    580634
47    580634
48    580634
49    580634
50    580634
51    580634
52    580634
53    580634
54    580634
55    580634
56    580634
57    580634
58    580634
59    580634
60    580634
61    580634
62    580634
63    580634
64    580634
65    580634
66    580634
67    580634
68    580634
69    580634
Name: class_id, Length: 69, dtype: object
ok
1     587678
2     587678
3     587678
4     587678
5     587678
6     587678
7     587678
8     587678
9     587678
10    587678
11    587678
12    587678
13    587678
14    587678
15    587678
16    587678
17    587678
18    587678
19    587678
20    587678
21    587678
22    587678
23    587678
24    587678
25    587678
26    587678
27    587678
28    587678
29    587678
30    587678
31    587678
32    587678
33    587678
34    587678
35    587678
36    587678
Name: class_id, dtype: object
ok
1     591790
2     591790
3     591790
4     591790
5     591790
6     591790
7     591790
8     591790
9     591790
10    591790
11    591790
12    591790
13    591790
14    591790
15    591790
16    591790
17    591790
18    591790
19    591790
20    591790
21    591790
22    591790
23    591790
24    591790
25    591790
26    591790
27    591790
28    591790
29    591790
30    591790
31    591790
32    591790
33    591790
34    591790
35    591790
36    591790
37    591790
38    591790
39    591790
Name: class_id, dtype: object
ok
1     597927
2     597927
3     597927
4     597927
5     597927
6     597927
7     597927
8     597927
9     597927
10    597927
11    597927
12    597927
13    597927
14    597927
15    597927
16    597927
17    597927
18    597927
19    597927
20    597927
21    597927
22    597927
23    597927
24    597927
25    597927
26    597927
27    597927
28    597927
29    597927
30    597927
       ...
41    597927
42    597927
43    597927
44    597927
45    597927
46    597927
47    597927
48    597927
49    597927
50    597927
51    597927
52    597927
53    597927
54    597927
55    597927
56    597927
57    597927
58    597927
59    597927
60    597927
61    597927
62    597927
63    597927
64    597927
65    597927
66    597927
67    597927
68    597927
69    597927
70    597927
Name: class_id, Length: 70, dtype: object
ok
1     603972
2     603972
3     603972
4     603972
5     603972
6     603972
7     603972
8     603972
9     603972
10    603972
11    603972
12    603972
13    603972
14    603972
15    603972
16    603972
17    603972
18    603972
19    603972
20    603972
21    603972
22    603972
23    603972
24    603972
25    603972
26    603972
27    603972
28    603972
29    603972
30    603972
       ...
41    603972
42    603972
43    603972
44    603972
45    603972
46    603972
47    603972
48    603972
49    603972
50    603972
51    603972
52    603972
53    603972
54    603972
55    603972
56    603972
57    603972
58    603972
59    603972
60    603972
61    603972
62    603972
63    603972
64    603972
65    603972
66    603972
67    603972
68    603972
69    603972
70    603972
Name: class_id, Length: 70, dtype: object

ok
1    612523
2    612523
3    612523
4    612523
Name: class_id, dtype: object
ok
1     614059
2     614059
3     614059
4     614059
5     614059
6     614059
7     614059
8     614059
9     614059
10    614059
11    614059
12    614059
13    614059
14    614059
15    614059
16    614059
17    614059
18    614059
19    614059
20    614059
21    614059
22    614059
23    614059
24    614059
25    614059
26    614059
27    614059
28    614059
29    614059
30    614059
       ...
41    614059
42    614059
43    614059
44    614059
45    614059
46    614059
47    614059
48    614059
49    614059
50    614059
51    614059
52    614059
53    614059
54    614059
55    614059
56    614059
57    614059
58    614059
59    614059
60    614059
61    614059
62    614059
63    614059
64    614059
65    614059
66    614059
67    614059
68    614059
69    614059
70    614059
Name: class_id, Length: 70, dtype: object
ok
1     619401
2     619401
3     619401
4     619401
5     619401
6     619401
7     619401
8     619401
9     619401
10    619401
11    619401
12    619401
13    619401
14    619401
15    619401
16    619401
Name: class_id, dtype: object
ok
1     621073
2     621073
3     621073
4     621073
5     621073
6     621073
7     621073
8     621073
9     621073
10    621073
11    621073
12    621073
13    621073
14    621073
15    621073
16    621073
17    621073
18    621073
19    621073
20    621073
21    621073
22    621073
23    621073
24    621073
25    621073
26    621073
27    621073
28    621073
29    621073
30    621073
31    621073
32    621073
33    621073
34    621073
35    621073
36    621073
37    621073
38    621073
39    621073
40    621073
41    621073
42    621073
43    621073
44    621073
45    621073
46    621073
47    621073
48    621073
49    621073
50    621073
51    621073
Name: class_id, dtype: object
ok
1     628041
2     628041
3     628041
4     628041
5     628041
6     628041
7     628041
8     628041
9     628041
10    628041
11    628041
12    628041
13    628041
14    628041
15    628041
16    628041
17    628041
18    628041
19    628041
20    628041
21    628041
22    628041
23    628041
24    628041
25    628041
26    628041
27    628041
28    628041
29    628041
30    628041
       ...
41    628041
42    628041
43    628041
44    628041
45    628041
46    628041
47    628041
48    628041
49    628041
50    628041
51    628041
52    628041
53    628041
54    628041
55    628041
56    628041
57    628041
58    628041
59    628041
60    628041
61    628041
62    628041
63    628041
64    628041
65    628041
66    628041
67    628041
68    628041
69    628041
70    628041
Name: class_id, Length: 70, dtype: object
ok
1     649213
2     649213
3     649213
4     649213
5     649213
6     649213
7     649213
8     649213
9     649213
10    649213
11    649213
12    649213
13    649213
14    649213
15    649213
16    649213
17    649213
18    649213
19    649213
20    649213
21    649213
22    649213
23    649213
24    649213
25    649213
26    649213
27    649213
28    649213
29    649213
30    649213
31    649213
32    649213
33    649213
34    649213
35    649213
36    649213
37    649213
38    649213
Name: class_id, dtype: object
ok
1     651347
2     651347
3     651347
4     651347
5     651347
6     651347
7     651347
8     651347
9     651347
10    651347
11    651347
12    651347
13    651347
14    651347
15    651347
16    651347
17    651347
18    651347
19    651347
20    651347
21    651347
22    651347
23    651347
24    651347
25    651347
26    651347
27    651347
28    651347
29    651347
30    651347
       ...
41    651347
42    651347
43    651347
44    651347
45    651347
46    651347
47    651347
48    651347
49    651347
50    651347
51    651347
52    651347
53    651347
54    651347
55    651347
56    651347
57    651347
58    651347
59    651347
60    651347
61    651347
62    651347
63    651347
64    651347
65    651347
66    651347
67    651347
68    651347
69    651347
70    651347
Name: class_id, Length: 70, dtype: object
ok
1     651782
2     651782
3     651782
4     651782
5     651782
6     651782
7     651782
8     651782
9     651782
10    651782
11    651782
12    651782
13    651782
14    651782
15    651782
16    651782
17    651782
18    651782
19    651782
20    651782
21    651782
22    651782
23    651782
24    651782
25    651782
26    651782
27    651782
28    651782
29    651782
30    651782
31    651782
32    651782
33    651782
34    651782
35    651782
36    651782
37    651782
38    651782
39    651782
40    651782
41    651782
42    651782
43    651782
44    651782
45    651782
46    651782
47    651782
48    651782
49    651782
50    651782
51    651782
52    651782
53    651782
54    651782
55    651782
56    651782
Name: class_id, dtype: object
ok
1    653436
2    653436
Name: class_id, dtype: object
ok
1     654134
2     654134
3     654134
4     654134
5     654134
6     654134
7     654134
8     654134
9     654134
10    654134
11    654134
12    654134
13    654134
14    654134
15    654134
16    654134
17    654134
18    654134
19    654134
20    654134
21    654134
22    654134
23    654134
24    654134
25    654134
26    654134
27    654134
28    654134
Name: class_id, dtype: object
ok
1     671482
2     671482
3     671482
4     671482
5     671482
6     671482
7     671482
8     671482
9     671482
10    671482
11    671482
12    671482
13    671482
14    671482
15    671482
16    671482
17    671482
18    671482
19    671482
20    671482
21    671482
22    671482
23    671482
24    671482
25    671482
26    671482
27    671482
28    671482
29    671482
30    671482
31    671482
32    671482
33    671482
34    671482
35    671482
36    671482
37    671482
38    671482
39    671482
40    671482
41    671482
42    671482
43    671482
44    671482
45    671482
46    671482
47    671482
48    671482
49    671482
50    671482
51    671482
52    671482
53    671482
54    671482
Name: class_id, dtype: object
ok
1     682651
2     682651
3     682651
4     682651
5     682651
6     682651
7     682651
8     682651
9     682651
10    682651
11    682651
12    682651
13    682651
14    682651
15    682651
16    682651
17    682651
18    682651
19    682651
20    682651
21    682651
22    682651
23    682651
24    682651
25    682651
26    682651
27    682651
28    682651
29    682651
30    682651
       ...
41    682651
42    682651
43    682651
44    682651
45    682651
46    682651
47    682651
48    682651
49    682651
50    682651
51    682651
52    682651
53    682651
54    682651
55    682651
56    682651
57    682651
58    682651
59    682651
60    682651
61    682651
62    682651
63    682651
64    682651
65    682651
66    682651
67    682651
68    682651
69    682651
70    682651
Name: class_id, Length: 70, dtype: object
ok
1     683364
2     683364
3     683364
4     683364
5     683364
6     683364
7     683364
8     683364
9     683364
10    683364
11    683364
12    683364
13    683364
14    683364
Name: class_id, dtype: object
ok
1    687270
2    687270
3    687270
4    687270
5    687270
Name: class_id, dtype: object
ok
1     692703
2     692703
3     692703
4     692703
5     692703
6     692703
7     692703
8     692703
9     692703
10    692703
11    692703
12    692703
13    692703
14    692703
15    692703
16    692703
17    692703
18    692703
19    692703
20    692703
21    692703
22    692703
23    692703
24    692703
25    692703
26    692703
27    692703
28    692703
29    692703
30    692703
Name: class_id, dtype: object
ok
1     693436
2     693436
3     693436
4     693436
5     693436
6     693436
7     693436
8     693436
9     693436
10    693436
11    693436
12    693436
13    693436
14    693436
Name: class_id, dtype: object
ok
1     713651
2     713651
3     713651
4     713651
5     713651
6     713651
7     713651
8     713651
9     713651
10    713651
11    713651
12    713651
13    713651
14    713651
15    713651
16    713651
17    713651
18    713651
19    713651
20    713651
21    713651
22    713651
23    713651
24    713651
25    713651
26    713651
27    713651
28    713651
29    713651
30    713651
       ...
41    713651
42    713651
43    713651
44    713651
45    713651
46    713651
47    713651
48    713651
49    713651
50    713651
51    713651
52    713651
53    713651
54    713651
55    713651
56    713651
57    713651
58    713651
59    713651
60    713651
61    713651
62    713651
63    713651
64    713651
65    713651
66    713651
67    713651
68    713651
69    713651
70    713651
Name: class_id, Length: 70, dtype: object
ok

1    714150
2    714150
3    714150
4    714150
5    714150
6    714150
7    714150
Name: class_id, dtype: object
ok
1     714152
2     714152
3     714152
4     714152
5     714152
6     714152
7     714152
8     714152
9     714152
10    714152
11    714152
12    714152
13    714152
14    714152
15    714152
16    714152
17    714152
18    714152
19    714152
20    714152
21    714152
22    714152
23    714152
24    714152
25    714152
26    714152
27    714152
28    714152
29    714152
30    714152
       ...
41    714152
42    714152
43    714152
44    714152
45    714152
46    714152
47    714152
48    714152
49    714152
50    714152
51    714152
52    714152
53    714152
54    714152
55    714152
56    714152
57    714152
58    714152
59    714152
60    714152
61    714152
62    714152
63    714152
64    714152
65    714152
66    714152
67    714152
68    714152
69    714152
70    714152
Name: class_id, Length: 70, dtype: object
ok
1     714860
2     714860
3     714860
4     714860
5     714860
6     714860
7     714860
8     714860
9     714860
10    714860
11    714860
12    714860
13    714860
14    714860
15    714860
16    714860
17    714860
18    714860
19    714860
20    714860
21    714860
22    714860
23    714860
24    714860
25    714860
26    714860
27    714860
28    714860
29    714860
30    714860
31    714860
32    714860
33    714860
34    714860
35    714860
36    714860
37    714860
38    714860
Name: class_id, dtype: object
ok
1    725137
2    725137
3    725137
Name: class_id, dtype: object
ok
1     732758
2     732758
3     732758
4     732758
5     732758
6     732758
7     732758
8     732758
9     732758
10    732758
11    732758
12    732758
13    732758
14    732758
15    732758
16    732758
17    732758
18    732758
19    732758
20    732758
21    732758
22    732758
23    732758
24    732758
25    732758
26    732758
27    732758
28    732758
29    732758
30    732758
       ...
37    732758
38    732758
39    732758
40    732758
41    732758
42    732758
43    732758
44    732758
45    732758
46    732758
47    732758
48    732758
49    732758
50    732758
51    732758
52    732758
53    732758
54    732758
55    732758
56    732758
57    732758
58    732758
59    732758
60    732758
61    732758
62    732758
63    732758
64    732758
65    732758
66    732758
Name: class_id, Length: 66, dtype: object
ok
1     735971
2     735971
3     735971
4     735971
5     735971
6     735971
7     735971
8     735971
9     735971
10    735971
11    735971
12    735971
13    735971
14    735971
15    735971
16    735971
17    735971
18    735971
19    735971
20    735971
21    735971
22    735971
23    735971
24    735971
25    735971
26    735971
27    735971
28    735971
29    735971
30    735971
       ...
41    735971
42    735971
43    735971
44    735971
45    735971
46    735971
47    735971
48    735971
49    735971
50    735971
51    735971
52    735971
53    735971
54    735971
55    735971
56    735971
57    735971
58    735971
59    735971
60    735971
61    735971
62    735971
63    735971
64    735971
65    735971
66    735971
67    735971
68    735971
69    735971
70    735971
Name: class_id, Length: 70, dtype: object
ok
1     736094
2     736094
3     736094
4     736094
5     736094
6     736094
7     736094
8     736094
9     736094
10    736094
11    736094
12    736094
13    736094
14    736094
15    736094
16    736094
17    736094
18    736094
19    736094
20    736094
21    736094
22    736094
Name: class_id, dtype: object
ok
1     739296
2     739296
3     739296
4     739296
5     739296
6     739296
7     739296
8     739296
9     739296
10    739296
11    739296
12    739296
13    739296
14    739296
15    739296
16    739296
17    739296
18    739296
19    739296
20    739296
21    739296
22    739296
23    739296
24    739296
25    739296
26    739296
27    739296
28    739296
29    739296
30    739296
31    739296
32    739296
33    739296
34    739296
35    739296
36    739296
37    739296
38    739296
39    739296
40    739296
Name: class_id, dtype: object
ok
1     741152
2     741152
3     741152
4     741152
5     741152
6     741152
7     741152
8     741152
9     741152
10    741152
11    741152
12    741152
13    741152
14    741152
15    741152
16    741152
17    741152
18    741152
19    741152
20    741152
21    741152
22    741152
23    741152
24    741152
25    741152
26    741152
27    741152
28    741152
29    741152
30    741152
31    741152
32    741152
33    741152
34    741152
35    741152
36    741152
37    741152
Name: class_id, dtype: object
ok
1     743957
2     743957
3     743957
4     743957
5     743957
6     743957
7     743957
8     743957
9     743957
10    743957
11    743957
12    743957
13    743957
14    743957
Name: class_id, dtype: object
ok
1     745137
2     745137
3     745137
4     745137
5     745137
6     745137
7     745137
8     745137
9     745137
10    745137
11    745137
12    745137
13    745137
14    745137
15    745137
16    745137
17    745137
18    745137
19    745137
20    745137
21    745137
22    745137
23    745137
24    745137
25    745137
26    745137
27    745137
28    745137
29    745137
30    745137
       ...
37    745137
38    745137
39    745137
40    745137
41    745137
42    745137
43    745137
44    745137
45    745137
46    745137
47    745137
48    745137
49    745137
50    745137
51    745137
52    745137
53    745137
54    745137
55    745137
56    745137
57    745137
58    745137
59    745137
60    745137
61    745137
62    745137
63    745137
64    745137
65    745137
66    745137
Name: class_id, Length: 66, dtype: object
ok
1     750340
2     750340
3     750340
4     750340
5     750340
6     750340
7     750340
8     750340
9     750340
10    750340
11    750340
12    750340
13    750340
14    750340
15    750340
16    750340
17    750340
18    750340
19    750340
20    750340
21    750340
22    750340
23    750340
24    750340
25    750340
26    750340
27    750340
28    750340
Name: class_id, dtype: object
ok
1     760412
2     760412
3     760412
4     760412
5     760412
6     760412
7     760412
8     760412
9     760412
10    760412
Name: class_id, dtype: object
ok
1     786351
2     786351
3     786351
4     786351
5     786351
6     786351
7     786351
8     786351
9     786351
10    786351
11    786351
12    786351
13    786351
14    786351
15    786351
16    786351
17    786351
18    786351
19    786351
20    786351
21    786351
22    786351
23    786351
24    786351
25    786351
26    786351
27    786351
28    786351
29    786351
30    786351
       ...
33    786351
34    786351
35    786351
36    786351
37    786351
38    786351
39    786351
40    786351
41    786351
42    786351
43    786351
44    786351
45    786351
46    786351
47    786351
48    786351
49    786351
50    786351
51    786351
52    786351
53    786351
54    786351
55    786351
56    786351
57    786351
58    786351
59    786351
60    786351
61    786351
62    786351
Name: class_id, Length: 62, dtype: object
ok
1    789290
2    789290
3    789290
4    789290
5    789290
6    789290
7    789290
8    789290
Name: class_id, dtype: object
ok
1     810398
2     810398
3     810398
4     810398
5     810398
6     810398
7     810398
8     810398
9     810398
10    810398
11    810398
12    810398
13    810398
14    810398
15    810398
16    810398
17    810398
18    810398
19    810398
20    810398
21    810398
22    810398
23    810398
24    810398
25    810398
26    810398
27    810398
Name: class_id, dtype: object
ok
1     815230
2     815230
3     815230
4     815230
5     815230
6     815230
7     815230
8     815230
9     815230
10    815230
Name: class_id, dtype: object
ok
1     819061
2     819061
3     819061
4     819061
5     819061
6     819061
7     819061
8     819061
9     819061
10    819061
11    819061
12    819061
13    819061
14    819061
15    819061
16    819061
17    819061
18    819061
19    819061
20    819061
21    819061
22    819061
23    819061
24    819061
25    819061
26    819061
27    819061
28    819061
29    819061
30    819061
       ...
41    819061
42    819061
43    819061
44    819061
45    819061
46    819061
47    819061
48    819061
49    819061
50    819061
51    819061
52    819061
53    819061
54    819061
55    819061
56    819061
57    819061
58    819061
59    819061
60    819061
61    819061
62    819061
63    819061
64    819061
65    819061
66    819061
67    819061
68    819061
69    819061
70    819061
Name: class_id, Length: 70, dtype: object
ok
1    842246
2    842246
3    842246
4    842246
5    842246
Name: class_id, dtype: object

ok
1     851857
2     851857
3     851857
4     851857
5     851857
6     851857
7     851857
8     851857
9     851857
10    851857
11    851857
12    851857
13    851857
14    851857
15    851857
16    851857
17    851857
18    851857
19    851857
Name: class_id, dtype: object
ok
1     854079
2     854079
3     854079
4     854079
5     854079
6     854079
7     854079
8     854079
9     854079
10    854079
11    854079
12    854079
13    854079
14    854079
15    854079
16    854079
17    854079
18    854079
19    854079
20    854079
21    854079
22    854079
23    854079
24    854079
25    854079
26    854079
27    854079
28    854079
29    854079
30    854079
31    854079
32    854079
33    854079
34    854079
35    854079
36    854079
37    854079
38    854079
39    854079
40    854079
41    854079
42    854079
43    854079
44    854079
45    854079
46    854079
47    854079
48    854079
49    854079
50    854079
51    854079
52    854079
Name: class_id, dtype: object
ok
1    854548
2    854548
3    854548
4    854548
5    854548
6    854548
7    854548
8    854548
Name: class_id, dtype: object
ok
1    861459
2    861459
3    861459
4    861459
5    861459
6    861459
7    861459
8    861459
Name: class_id, dtype: object
ok
1     871642
2     871642
3     871642
4     871642
5     871642
6     871642
7     871642
8     871642
9     871642
10    871642
11    871642
12    871642
13    871642
14    871642
15    871642
16    871642
17    871642
18    871642
19    871642
20    871642
21    871642
22    871642
23    871642
24    871642
25    871642
26    871642
27    871642
28    871642
29    871642
30    871642
31    871642
32    871642
33    871642
34    871642
35    871642
36    871642
37    871642
38    871642
39    871642
40    871642
41    871642
42    871642
43    871642
44    871642
45    871642
46    871642
47    871642
48    871642
49    871642
50    871642
51    871642
52    871642
53    871642
54    871642
Name: class_id, dtype: object
ok
1    872180
2    872180
3    872180
4    872180
Name: class_id, dtype: object
ok
1     883691
2     883691
3     883691
4     883691
5     883691
6     883691
7     883691
8     883691
9     883691
10    883691
11    883691
12    883691
13    883691
14    883691
15    883691
16    883691
17    883691
18    883691
19    883691
20    883691
21    883691
22    883691
23    883691
24    883691
25    883691
26    883691
27    883691
28    883691
29    883691
30    883691
       ...
41    883691
42    883691
43    883691
44    883691
45    883691
46    883691
47    883691
48    883691
49    883691
50    883691
51    883691
52    883691
53    883691
54    883691
55    883691
56    883691
57    883691
58    883691
59    883691
60    883691
61    883691
62    883691
63    883691
64    883691
65    883691
66    883691
67    883691
68    883691
69    883691
70    883691
Name: class_id, Length: 70, dtype: object
ok
1     890189
2     890189
3     890189
4     890189
5     890189
6     890189
7     890189
8     890189
9     890189
10    890189
Name: class_id, dtype: object
ok
1    905061
2    905061
3    905061
4    905061
Name: class_id, dtype: object
ok
1     905745
2     905745
3     905745
4     905745
5     905745
6     905745
7     905745
8     905745
9     905745
10    905745
11    905745
12    905745
13    905745
14    905745
15    905745
16    905745
17    905745
18    905745
19    905745
20    905745
21    905745
22    905745
23    905745
24    905745
25    905745
26    905745
27    905745
28    905745
29    905745
30    905745
31    905745
32    905745
33    905745
34    905745
35    905745
36    905745
37    905745
38    905745
39    905745
40    905745
41    905745
42    905745
43    905745
44    905745
45    905745
46    905745
47    905745
48    905745
49    905745
50    905745
51    905745
52    905745
53    905745
54    905745
55    905745
56    905745
57    905745
58    905745
59    905745
60    905745
Name: class_id, dtype: object
ok
1     914348
2     914348
3     914348
4     914348
5     914348
6     914348
7     914348
8     914348
9     914348
10    914348
11    914348
12    914348
13    914348
14    914348
15    914348
16    914348
17    914348
18    914348
19    914348
20    914348
21    914348
22    914348
23    914348
24    914348
25    914348
26    914348
27    914348
28    914348
29    914348
30    914348
       ...
41    914348
42    914348
43    914348
44    914348
45    914348
46    914348
47    914348
48    914348
49    914348
50    914348
51    914348
52    914348
53    914348
54    914348
55    914348
56    914348
57    914348
58    914348
59    914348
60    914348
61    914348
62    914348
63    914348
64    914348
65    914348
66    914348
67    914348
68    914348
69    914348
70    914348
Name: class_id, Length: 70, dtype: object
ok
1     923841
2     923841
3     923841
4     923841
5     923841
6     923841
7     923841
8     923841
9     923841
10    923841
11    923841
12    923841
13    923841
14    923841
15    923841
16    923841
17    923841
18    923841
19    923841
20    923841
21    923841
22    923841
23    923841
24    923841
25    923841
26    923841
27    923841
28    923841
29    923841
30    923841
       ...
39    923841
40    923841
41    923841
42    923841
43    923841
44    923841
45    923841
46    923841
47    923841
48    923841
49    923841
50    923841
51    923841
52    923841
53    923841
54    923841
55    923841
56    923841
57    923841
58    923841
59    923841
60    923841
61    923841
62    923841
63    923841
64    923841
65    923841
66    923841
67    923841
68    923841
Name: class_id, Length: 68, dtype: object
ok
1     924154
2     924154
3     924154
4     924154
5     924154
6     924154
7     924154
8     924154
9     924154
10    924154
11    924154
12    924154
13    924154
14    924154
15    924154
16    924154
17    924154
18    924154
19    924154
20    924154
21    924154
22    924154
23    924154
24    924154
25    924154
26    924154
27    924154
28    924154
29    924154
30    924154
31    924154
32    924154
33    924154
34    924154
Name: class_id, dtype: object
ok
1     948936
2     948936
3     948936
4     948936
5     948936
6     948936
7     948936
8     948936
9     948936
10    948936
11    948936
12    948936
13    948936
Name: class_id, dtype: object
ok
1     950264
2     950264
3     950264
4     950264
5     950264
6     950264
7     950264
8     950264
9     950264
10    950264
11    950264
12    950264
13    950264
14    950264
15    950264
16    950264
Name: class_id, dtype: object
ok
1     953842
2     953842
3     953842
4     953842
5     953842
6     953842
7     953842
8     953842
9     953842
10    953842
11    953842
12    953842
13    953842
14    953842
15    953842
16    953842
17    953842
18    953842
19    953842
20    953842
21    953842
Name: class_id, dtype: object
ok
1     961362
2     961362
3     961362
4     961362
5     961362
6     961362
7     961362
8     961362
9     961362
10    961362
11    961362
12    961362
13    961362
14    961362
15    961362
16    961362
17    961362
18    961362
19    961362
20    961362
21    961362
22    961362
23    961362
24    961362
25    961362
26    961362
27    961362
28    961362
29    961362
30    961362
       ...
41    961362
42    961362
43    961362
44    961362
45    961362
46    961362
47    961362
48    961362
49    961362
50    961362
51    961362
52    961362
53    961362
54    961362
55    961362
56    961362
57    961362
58    961362
59    961362
60    961362
61    961362
62    961362
63    961362
64    961362
65    961362
66    961362
67    961362
68    961362
69    961362
70    961362
Name: class_id, Length: 70, dtype: object
ok
1     961962
2     961962
3     961962
4     961962
5     961962
6     961962
7     961962
8     961962
9     961962
10    961962
11    961962
12    961962
13    961962
14    961962
15    961962
16    961962
17    961962
18    961962
19    961962
20    961962
21    961962
22    961962
23    961962
24    961962
25    961962
26    961962
27    961962
28    961962
29    961962
30    961962
       ...
41    961962
42    961962
43    961962
44    961962
45    961962
46    961962
47    961962
48    961962
49    961962
50    961962
51    961962
52    961962
53    961962
54    961962
55    961962
56    961962
57    961962
58    961962
59    961962
60    961962
61    961962
62    961962
63    961962
64    961962
65    961962
66    961962
67    961962
68    961962
69    961962
70    961962
Name: class_id, Length: 70, dtype: object
ok
1     963845
2     963845
3     963845
4     963845
5     963845
6     963845
7     963845
8     963845
9     963845
10    963845
11    963845
12    963845
13    963845
14    963845
15    963845
16    963845
17    963845
18    963845
19    963845
20    963845
21    963845
22    963845
23    963845
24    963845
25    963845
26    963845
27    963845
28    963845
29    963845
30    963845
31    963845
32    963845
33    963845
34    963845
35    963845
36    963845
37    963845
Name: class_id, dtype: object
ok

1     973106
2     973106
3     973106
4     973106
5     973106
6     973106
7     973106
8     973106
9     973106
10    973106
11    973106
12    973106
Name: class_id, dtype: object
ok
1     978089
2     978089
3     978089
4     978089
5     978089
6     978089
7     978089
8     978089
9     978089
10    978089
11    978089
12    978089
13    978089
14    978089
15    978089
16    978089
17    978089
18    978089
19    978089
20    978089
21    978089
22    978089
23    978089
24    978089
25    978089
26    978089
27    978089
28    978089
29    978089
30    978089
31    978089
32    978089
33    978089
34    978089
35    978089
36    978089
37    978089
38    978089
39    978089
Name: class_id, dtype: object
ok

<font color=green size=4>list_merge -> list, id_all -> DateFrame</font>

In [17]:
test_all_df = pd.DataFrame(test_all)
test_all

[[103507, 7, 10, 831, 2, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 186, 180],
 [124140, 7, 10, 783, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 285, 263],
 [125403, 7, 10, 761, 2, 2, 7, 1, 1, 1, 1, 2, 1, 4, 2, 328, 156],
 [136916, 7, 10, 106, 3, 5, 4, 1, 1, 1, 1, 2, 1, 4, 0, 145, 162],
 [169673, 7, 10, 682, 2, 1, 1, 0, 1, 1, 1, 2, 1, 4, 2, 219, 152],
 [175962, 7, 10, 750, 3, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 214, 237],
 [178529, 7, 10, 98, 1, 1, 0, 1, 2, 1, 1, 2, 1, 4, 2, 165, 148],
 [186250, 7, 10, 761, 2, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 83, 83],
 [194201, 7, 10, 831, 2, 3, 2, 1, 1, 1, 1, 2, 1, 4, 0, 239, 378],
 [194450, 7, 10, 836, 2, 3, 4, 0, 1, 1, 1, 2, 1, 4, 0, 307, 271],
 [198427, 7, 10, 12, 3, 1, 1, 1, 1, 1, 1, 2, 1, 4, 0, 125, 99],
 [206765, 7, 10, 761, 3, 2, 4, 1, 1, 1, 1, 2, 1, 4, 0, 2347, 2057],
 [209945, 7, 10, 814, 3, 4, 7, 0, 2, 1, 1, 2, 2, 4, 0, 273, 91],
 [219195, 7, 10, 638, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 160, 125],
 [221795, 7, 10, 872, 2, 4, 6, 0, 1, 1, 1, 2, 2, 4, 0, 337, 391],
 [245609, 7, 10, 750, 2, 4, 4, 0, 1, 1, 1, 2, 1, 4, 0, 99, 121],
 [248352, 7, 10, 831, 3, 3, 2, 1, 1, 1, 1, 2, 1, 4, 0, 269, 260],
 [249875, 7, 10, 294, 2, 6, 5, 1, 1, 1, 1, 2, 1, 4, 0, 147, 138],
 [250658, 7, 10, 450, 3, 2, 4, 0, 1, 1, 1, 2, 1, 4, 0, 288, 187],
 [265980, 7, 10, 783, 2, 1, 1, 1, 2, 1, 1, 1, 1, 4, 1, 461, 204],
 [270690, 7, 10, 98, 2, 1, 0, 1, 2, 1, 1, 1, 1, 4, 0, 806, 595],
 [281301, 7, 10, 750, 3, 4, 6, 0, 1, 1, 1, 2, 1, 4, 0, 584, 329],
 [281792, 7, 10, 872, 3, 4, 6, 0, 1, 1, 1, 2, 2, 4, 0, 363, 481],
 [289386, 7, 10, 813, 3, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 305, 441],
 [289403, 7, 10, 12, 2, 1, 2, 1, 1, 1, 1, 2, 1, 4, 0, 299, 272],
 [290854, 7, 10, 537, 2, 5, 4, 0, 1, 1, 1, 2, 1, 4, 0, 393, 205],
 [291086, 7, 10, 761, 3, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 376, 320],
 [291514, 7, 10, 783, 2, 1, 2, 1, 1, 1, 1, 2, 1, 4, 0, 95, 50],
 [302513, 7, 10, 864, 2, 1, 1, 1, 1, 1, 1, 2, 1, 4, 0, 109, 170],
 [304458, 7, 10, 106, 3, 5, 3, 0, 1, 1, 1, 2, 1, 4, 0, 605, 373],
 [308913, 7, 10, 750, 2, 4, 4, 0, 1, 1, 1, 2, 1, 4, 0, 132, 139],
 [321683, 7, 10, 750, 3, 4, 4, 1, 1, 1, 1, 2, 1, 4, 0, 2067, 2186],
 [340175, 7, 10, 638, 2, 1, 2, 0, 1, 1, 1, 2, 1, 4, 0, 244, 113],
 [347384, 7, 10, 831, 3, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 2613, 2898],
 [348641, 7, 10, 498, 3, 1, 2, 1, 1, 1, 1, 2, 1, 4, 0, 405, 340],
 [349023, 7, 10, 450, 3, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 941, 941],
 [350259, 7, 10, 750, 3, 4, 4, 0, 1, 1, 1, 2, 1, 4, 0, 640, 577],
 [354068, 7, 10, 692, 3, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 920, 460],
 [356986, 7, 10, 637, 3, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 623, 476],
 [359378, 7, 10, 497, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 16, 64],
 [360648, 7, 10, 106, 2, 5, 2, 1, 1, 1, 1, 2, 1, 4, 0, 150, 160],
 [376193, 7, 10, 76, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 133, 90],
 [378356, 7, 10, 497, 3, 1, 2, 1, 1, 1, 1, 2, 1, 4, 0, 422, 422],
 [378536, 7, 10, 985, 2, 6, 5, 0, 1, 1, 1, 2, 1, 4, 0, 105, 105],
 [379265, 7, 10, 290, 2, 7, 0, 1, 1, 1, 1, 2, 1, 4, 0, 273, 314],
 [379876, 7, 10, 985, 3, 6, 3, 1, 1, 1, 1, 2, 1, 4, 0, 140, 133],
 [384924, 7, 10, 761, 3, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 705, 765],
 [392593, 7, 10, 497, 2, 1, 3, 1, 1, 1, 1, 2, 1, 4, 0, 239, 193],
 [395234, 7, 10, 841, 3, 6, 4, 0, 1, 1, 1, 2, 1, 4, 0, 83, 102],
 [401052, 7, 10, 953, 2, 4, 6, 0, 1, 1, 1, 2, 2, 4, 0, 201, 134],
 [409854, 7, 10, 638, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 1807, 1675],
 [412240, 7, 10, 783, 2, 1, 2, 0, 2, 1, 1, 2, 1, 4, 2, 88, 68],
 [416749, 7, 10, 537, 2, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 310, 201],
 [417803, 7, 10, 692, 2, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 62, 116],
 [425432, 7, 10, 750, 3, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 1539, 1848],
 [436105, 7, 10, 836, 3, 3, 4, 1, 1, 1, 1, 2, 1, 4, 0, 455, 431],
 [437063, 7, 10, 814, 3, 4, 5, 0, 1, 1, 1, 2, 2, 3, 0, 257, 95],
 [437598, 7, 10, 638, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 139, 66],
 [453752, 7, 10, 814, 3, 4, 7, 0, 2, 1, 1, 2, 2, 4, 0, 381, 190],
 [468392, 7, 10, 537, 3, 5, 5, 1, 1, 1, 1, 2, 1, 4, 0, 242, 146],
 [472603, 7, 10, 985, 3, 6, 3, 0, 1, 1, 1, 2, 1, 4, 0, 143, 84],
 [475895, 7, 10, 750, 2, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 75, 97],
 [481950, 7, 10, 813, 2, 5, 4, 1, 1, 1, 1, 2, 1, 4, 0, 150, 151],
 [482497, 7, 10, 872, 2, 4, 7, 0, 3, 1, 1, 2, 2, 4, 0, 336, 177],
 [492952, 7, 10, 692, 3, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 261, 150],
 [496459, 7, 10, 497, 2, 1, 1, 1, 1, 1, 1, 2, 1, 4, 0, 480, 384],
 [501564, 7, 10, 807, 2, 1, 4, 0, 1, 1, 1, 2, 1, 4, 2, 252, 149],
 [510309, 7, 10, 953, 2, 4, 7, 0, 3, 1, 1, 2, 2, 4, 0, 171, 94],
 [516750, 7, 10, 98, 2, 1, 1, 1, 2, 1, 1, 1, 1, 4, 1, 32, 53],
 [526401, 7, 10, 836, 3, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 402, 385],
 [527765, 7, 10, 236, 2, 1, 4, 1, 1, 3, 2, 2, 1, 0, 5, 36, 65],
 [527809, 7, 10, 953, 3, 4, 7, 0, 2, 1, 1, 2, 2, 4, 0, 305, 154],
 [540712, 7, 10, 12, 2, 1, 4, 0, 1, 1, 1, 2, 1, 4, 0, 390, 335],
 [559132, 7, 10, 692, 3, 5, 5, 1, 1, 1, 1, 2, 1, 4, 0, 221, 104],
 [560265, 7, 10, 923, 2, 1, 1, 1, 2, 1, 1, 1, 1, 4, 4, 88, 75],
 [569154, 7, 10, 638, 2, 1, 2, 0, 1, 1, 1, 2, 1, 4, 0, 386, 359],
 [576298, 7, 10, 304, 2, 1, 1, 1, 2, 1, 1, 2, 1, 4, 1, 293, 174],
 [580470, 7, 10, 750, 3, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 384, 408],
 [580634, 7, 10, 692, 2, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 294, 248],
 [587678, 7, 10, 537, 2, 5, 4, 1, 1, 1, 1, 2, 1, 4, 0, 359, 155],
 [591790, 7, 10, 106, 3, 5, 3, 0, 1, 1, 1, 2, 1, 4, 0, 359, 195],
 [597927, 7, 10, 831, 3, 3, 4, 0, 1, 1, 1, 2, 1, 4, 0, 251, 140],
 [603972, 7, 10, 872, 3, 4, 8, 0, 1, 1, 1, 2, 2, 4, 0, 511, 414],
 [612523, 7, 10, 783, 2, 1, 2, 0, 1, 1, 1, 2, 1, 4, 0, 198, 113],
 [614059, 7, 10, 953, 3, 4, 7, 0, 2, 1, 1, 2, 2, 4, 0, 528, 326],
 [619401, 7, 10, 12, 2, 1, 2, 0, 1, 1, 1, 2, 1, 4, 0, 353, 392],
 [621073, 7, 10, 98, 2, 1, 0, 1, 2, 1, 1, 1, 1, 4, 1, 1137, 1062],
 [628041, 7, 10, 750, 2, 4, 4, 1, 1, 1, 1, 2, 1, 4, 0, 720, 746],
 [649213, 7, 10, 75, 3, 2, 6, 0, 2, 1, 1, 2, 2, 4, 0, 122, 107],
 [651347, 7, 10, 537, 2, 5, 2, 1, 1, 1, 1, 2, 1, 4, 0, 134, 223],
 [651782, 7, 10, 75, 3, 2, 7, 0, 1, 1, 1, 2, 2, 4, 0, 133, 80],
 [653436, 7, 10, 831, 3, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 122, 171],
 [654134, 7, 10, 290, 2, 7, 2, 1, 1, 1, 1, 2, 1, 4, 0, 654, 514],
 [671482, 7, 10, 637, 2, 2, 3, 1, 1, 1, 1, 2, 1, 3, 0, 61, 88],
 [682651, 7, 10, 872, 3, 4, 7, 0, 1, 1, 1, 2, 2, 4, 0, 449, 281],
 [683364, 7, 10, 236, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 62, 84],
 [687270, 7, 10, 290, 2, 7, 1, 1, 1, 1, 1, 2, 1, 4, 0, 459, 415],
 [692703, 7, 10, 807, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 580, 551],
 [693436, 7, 10, 12, 3, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 249, 142],
 [713651, 7, 10, 537, 3, 5, 3, 0, 1, 1, 1, 2, 1, 4, 0, 378, 192],
 [714150, 7, 10, 450, 2, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 250, 190],
 [714152, 7, 10, 750, 2, 4, 6, 0, 1, 1, 1, 2, 1, 4, 0, 722, 431],
 [714860, 7, 10, 831, 3, 3, 3, 0, 1, 1, 1, 2, 1, 4, 0, 217, 138],
 [725137, 7, 10, 807, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 134, 89],
 [732758, 7, 10, 814, 2, 4, 6, 0, 1, 1, 1, 2, 2, 3, 0, 322, 161],
 [735971, 7, 10, 761, 3, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 2881, 2012],
 [736094, 7, 10, 783, 2, 1, 1, 1, 1, 1, 1, 2, 1, 4, 3, 252, 234],
 [739296, 7, 10, 290, 2, 7, 1, 1, 1, 1, 1, 2, 1, 4, 3, 834, 816],
 [741152, 7, 10, 761, 2, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 670, 580],
 [743957, 7, 10, 450, 3, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 632, 681],
 [745137, 7, 10, 637, 2, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 911, 852],
 [750340, 7, 10, 864, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 38, 95],
 [760412, 7, 10, 542, 2, 5, 4, 1, 1, 1, 1, 2, 1, 4, 0, 79, 66],
 [786351, 7, 10, 836, 3, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 91, 104],
 [789290, 7, 10, 106, 3, 5, 2, 1, 1, 1, 1, 2, 1, 4, 0, 69, 77],
 [810398, 7, 10, 750, 2, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 48, 114],
 [815230, 7, 10, 49, 2, 2, 4, 0, 1, 1, 1, 2, 1, 4, 0, 198, 168],
 [819061, 7, 10, 831, 2, 3, 4, 1, 1, 1, 1, 2, 1, 4, 0, 172, 94],
 [842246, 7, 10, 68, 2, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 205, 121],
 [851857, 7, 10, 75, 2, 2, 6, 0, 1, 1, 1, 2, 2, 4, 0, 255, 157],
 [854079, 7, 10, 537, 3, 5, 3, 1, 1, 1, 1, 2, 1, 4, 0, 356, 162],
 [854548, 7, 10, 126, 2, 1, 3, 1, 1, 1, 1, 2, 1, 4, 0, 108, 122],
 [861459, 7, 10, 498, 3, 1, 3, 0, 1, 1, 1, 2, 1, 4, 0, 229, 252],
 [871642, 7, 10, 637, 2, 2, 5, 0, 1, 1, 1, 2, 1, 4, 0, 173, 155],
 [872180, 7, 10, 76, 2, 1, 4, 0, 1, 1, 1, 2, 1, 4, 0, 161, 127],
 [883691, 7, 10, 750, 3, 4, 5, 0, 1, 1, 1, 2, 1, 4, 0, 276, 254],
 [890189, 7, 10, 290, 2, 7, 1, 1, 1, 1, 1, 2, 1, 4, 0, 1372, 1302],
 [905061, 7, 10, 783, 2, 1, 1, 1, 1, 1, 1, 2, 1, 4, 2, 137, 363],
 [905745, 7, 10, 761, 2, 2, 3, 0, 1, 1, 1, 2, 1, 4, 0, 165, 183],
 [914348, 7, 10, 750, 2, 4, 3, 1, 1, 1, 1, 2, 1, 4, 0, 650, 483],
 [923841, 7, 10, 450, 3, 2, 4, 0, 1, 1, 1, 2, 1, 4, 0, 713, 642],
 [924154, 7, 10, 637, 3, 2, 3, 1, 1, 1, 1, 2, 1, 4, 0, 1010, 1192],
 [948936, 7, 10, 512, 2, 1, 1, 1, 2, 1, 1, 2, 1, 4, 3, 41, 75],
 [950264, 7, 10, 498, 2, 1, 4, 0, 1, 1, 1, 2, 1, 4, 0, 874, 1231],
 [953842, 7, 10, 831, 2, 3, 4, 0, 1, 1, 1, 2, 1, 4, 0, 757, 1061],
 [961362, 7, 10, 692, 2, 5, 4, 1, 1, 1, 1, 2, 1, 4, 0, 104, 73],
 [961962, 7, 10, 750, 3, 4, 2, 1, 1, 1, 1, 2, 1, 4, 0, 122, 80],
 [963845, 7, 10, 836, 2, 3, 3, 1, 1, 1, 1, 2, 1, 4, 0, 242, 207],
 [973106, 7, 10, 537, 2, 5, 6, 0, 1, 1, 1, 2, 1, 4, 0, 235, 108],
 [978089, 7, 10, 12, 3, 1, 1, 1, 1, 1, 1, 2, 1, 4, 0, 401, 400]]

In [18]:
pd.DataFrame.to_csv(test_all_df,'./data/yanchen_data_process_for_test_201801311836.csv',index=False)