In [131]:
from xgboost import XGBClassifier
import xgboost as xgb

import pandas as pd 
import numpy as np
import copy as cp
from sklearn import preprocessing 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [132]:
data = pd.read_csv('./data/yanchen_data_process_for_train_201801311718.csv')
data = np.array(data)

In [133]:
input_data, label_data = pd.DataFrame(data[:, :-1]), pd.DataFrame(data[:, -1])
input_data, label_data

(          0   1   2    3   4   5   6   7   8   9   10  11  12  13  14    15  \
 0     103507   5   4  831   2   3   3   1   1   1   3   2   1   4   0    58
 1     103507   5   5  831   2   3   3   0   1   1   3   2   1   4   0   232
 2     103507   5   6  831   2   3   3   1   1   1   3   2   1   4   0   226
 3     103507   5   7  831   2   3   3   1   3   1   1   2   1   4   0   286
 4     103507   5   8  831   2   3   3   1   1   1   3   2   1   4   0   297
 5     103507   5   9  831   2   3   3   1   1   1   1   2   1   4   0   355
 6     103507   5  10  831   2   3   3   0   1   1   3   2   1   4   0   442
 7     103507   5  11  831   2   3   3   1   1   1   3   2   1   4   0  1050
 8     103507   6   2  831   2   3   4   0   1   1   3   2   1   4   0   993
 9     103507   6   3  831   2   3   4   1   3   1   3   2   1   4   0   953
 10    103507   6   4  831   2   3   3   1   1   1   1   2   1   4   0   650
 11    103507   6   5  831   2   3   3   1   1   1   1   2   1   4   0   145
 12    103507   6   6  831   2   3   4   0   1   1   1   2   1   4   0   772
 13    103507   6   7  831   2   3   4   0   1   1   1   2   1   4   0   829
 14    103507   6   8  831   2   3   4   0   1   1   1   2   1   4   0   378
 15    103507   6   9  831   2   3   3   1   1   1   1   2   1   4   0   406
 16    103507   6  10  831   2   3   3   1   1   1   1   2   1   4   0   684
 17    103507   6  11  831   2   3   3   0   1   1   1   2   1   4   0   632
 18    103507   7   2  831   2   3   3   1   1   1   1   2   1   4   0   499
 19    103507   7   3  831   2   3   3   1   1   1   1   2   1   4   0   435
 20    103507   7   4  831   2   3   3   0   1   1   1   2   1   4   0   371
 21    103507   7   5  831   2   3   3   0   1   1   1   2   1   4   0   290
 22    103507   7   6  831   2   3   3   0   1   1   1   2   1   4   0   429
 23    103507   7   7  831   2   3   3   0   1   1   1   2   1   4   0   371
 24    103507   7   8  831   2   3   3   1   1   1   1   2   1   4   0   313
 25    103507   7   9  831   2   3   3   1   1   1   1   2   1   4   0   180
 26    124140   4   6  783   2   1   3   1   1   1   1   2   1   4   0    15
 27    124140   4   7  783   2   1   3   1   1   1   1   2   1   4   0    83
 28    124140   4   8  783   2   1   3   0   1   1   3   2   1   4   0   195
 29    124140   4   9  783   2   1   3   0   1   1   3   2   1   4   0   113
 ...      ...  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...
 4468  978089   4  10   12   3   1   1   0   1   1   1   2   1   4   0   158
 4469  978089   4  11   12   2   1   1   0   1   1   1   2   1   4   0   437
 4470  978089   5   2   12   3   1   1   0   1   1   1   2   1   4   0   800
 4471  978089   5   3   12   3   1   1   1   1   1   1   2   1   4   0   799
 4472  978089   5   4   12   3   1   1   0   1   1   1   2   1   4   0   429
 4473  978089   5   5   12   3   1   1   0   1   1   1   2   1   4   0   260
 4474  978089   5   6   12   2   1   1   0   1   1   1   2   1   4   0   418
 4475  978089   5   7   12   3   1   1   1   1   1   1   2   1   4   0   372
 4476  978089   5   8   12   2   1   1   0   1   1   1   2   1   4   0   428
 4477  978089   5   9   12   3   1   1   0   1   1   1   2   1   4   0   503
 4478  978089   5  10   12   2   1   1   0   1   1   1   2   1   4   0   753
 4479  978089   5  11   12   3   1   1   0   1   1   1   2   1   4   0   790
 4480  978089   6   2   12   3   1   2   0   1   1   1   2   1   4   0   651
 4481  978089   6   3   12   2   1   2   0   1   1   1   2   1   4   0   623
 4482  978089   6   4   12   3   1   2   0   1   1   1   2   1   4   0   605
 4483  978089   6   5   12   3   1   2   1   1   1   1   2   1   4   0   604
 4484  978089   6   6   12   2   1   2   1   1   1   1   2   1   4   0   735
 4485  978089   6   7   12   3   1   1   1   1   1   1   2   1   4   0   474
 4486  978089   6   8   12   2   1   1   1   1   1   1   2   1   4   0   530
 4487  978089   6   9   12   2   1   1   1   1   1   1   2   1   4   0   521
 4488  978089   6  10   12   3   1   1   1   1   1   1   2   1   4   0   474
 4489  978089   6  11   12   3   1   1   1   1   1   1   2   1   4   0   503
 4490  978089   7   2   12   2   1   1   1   1   1   1   2   1   4   0   558
 4491  978089   7   3   12   2   1   1   1   1   1   1   2   1   4   0   494
 4492  978089   7   4   12   3   1   1   1   1   1   1   2   1   4   0   548
 4493  978089   7   5   12   2   1   1   1   1   1   1   2   1   4   0   466
 4494  978089   7   6   12   2   1   1   1   1   1   1   2   1   4   0   512
 4495  978089   7   7   12   2   1   1   1   1   1   1   2   1   4   0   381
 4496  978089   7   8   12   3   1   1   1   1   1   1   2   1   4   0   270
 4497  978089   7   9   12   2   1   1   1   1   1   1   2   1   4   0   419

         16
 0      232
 1      226
 2      286
 3      297
 4      355
 5      442
 6     1050
 7      481
 8      953
 9      650
 10     145
 11     772
 12     829
 13     378
 14     406
 15     684
 16     632
 17     876
 18     435
 19     371
 20     290
 21     429
 22     371
 23     313
 24     180
 25     186
 26      83
 27     195
 28     113
 29     174
 ...    ...
 4468   437
 4469   447
 4470   799
 4471   429
 4472   260
 4473   418
 4474   372
 4475   428
 4476   503
 4477   753
 4478   790
 4479   659
 4480   623
 4481   605
 4482   604
 4483   735
 4484   474
 4485   530
 4486   521
 4487   474
 4488   503
 4489   400
 4490   494
 4491   548
 4492   466
 4493   512
 4494   381
 4495   270
 4496   419
 4497   401

 [4498 rows x 17 columns],          0
 0      226
 1      286
 2      297
 3      355
 4      442
 5     1050
 6      481
 7     1433
 8      650
 9      145
 10     772
 11     829
 12     378
 13     406
 14     684
 15     632
 16     876
 17    1653
 18     371
 19     290
 20     429
 21     371
 22     313
 23     180
 24     186
 25     180
 26     195
 27     113
 28     174
 29     225
 ...    ...
 4468   447
 4469   439
 4470   429
 4471   260
 4472   418
 4473   372
 4474   428
 4475   503
 4476   753
 4477   790
 4478   659
 4479  1284
 4480   605
 4481   604
 4482   735
 4483   474
 4484   530
 4485   521
 4486   474
 4487   503
 4488   400
 4489  1042
 4490   548
 4491   466
 4492   512
 4493   381
 4494   270
 4495   419
 4496   401
 4497   400

 [4498 rows x 1 columns])

<font color=orange size=6>随机分布得到验证集核训练集</font>

In [164]:
seed = 6
test_size = 0.1
x_train_part, x_validate, y_train_part, y_validate= train_test_split(input_data, label_data, test_size=test_size,
    random_state=seed)
x_train_part.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
4343,961362,4,11,692,2,5,4,1,1,1,3,2,1,4,0,67,47
945,291086,4,2,761,3,2,5,1,1,1,3,2,1,4,0,1043,526
484,219195,6,2,638,2,1,2,0,1,1,1,2,1,4,0,430,150
1592,384924,3,2,761,3,2,5,0,1,1,3,2,1,4,0,789,436
102,125403,6,4,761,2,2,5,1,1,1,1,2,1,4,2,197,361

<font color=orange size=6>以下开始XGBOOST调试过程</font>

In [169]:
dtrain = xgb.DMatrix(x_train_part, y_train_part)
dvalid = xgb.DMatrix(x_validate, y_validate)
watchlist = [(dtrain, 'train'), (dvalid, 'eval')]  
num_trees= 40000
params = {"objective": "reg:linear",  
              "eta": 0.05,  
              "max_depth": 20,  
              "subsample": 0.7,  
              "colsample_bytree": 0.7,  
              "silent": 1
              }

<font color=blue size=5>将一部分作为验证集，一部分作为训练集</font>

In [170]:
gbm = xgb.train(params, dtrain, num_trees, evals=watchlist, early_stopping_rounds=50, verbose_eval=True)

[0]	train-rmse:691.213	eval-rmse:573.962
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 50 rounds.
[1]	train-rmse:661.095	eval-rmse:547.679
[2]	train-rmse:633.429	eval-rmse:523.782
[3]	train-rmse:607.175	eval-rmse:498.948
[4]	train-rmse:581.584	eval-rmse:476.651
[5]	train-rmse:557.811	eval-rmse:455.36
[6]	train-rmse:535.839	eval-rmse:434.853
[7]	train-rmse:517.482	eval-rmse:420.148
[8]	train-rmse:496.328	eval-rmse:402.776
[9]	train-rmse:475.494	eval-rmse:384.54
[10]	train-rmse:461.662	eval-rmse:372.992
[11]	train-rmse:446.292	eval-rmse:360.49
[12]	train-rmse:429.718	eval-rmse:347.135
[13]	train-rmse:413.075	eval-rmse:333.725
[14]	train-rmse:397.109	eval-rmse:320.247
[15]	train-rmse:382.294	eval-rmse:307.251
[16]	train-rmse:367.793	eval-rmse:295.178
[17]	train-rmse:353.692	eval-rmse:285.054
[18]	train-rmse:340.662	eval-rmse:275.265
[19]	train-rmse:329.584	eval-rmse:267.518
[20]	train-rmse:318.332	eval-rmse:258.801
[21]	train-rmse:308.227	eval-rmse:250.997
[22]	train-rmse:297.37	eval-rmse:241.717
[23]	train-rmse:287.218	eval-rmse:232.821
[24]	train-rmse:277.926	eval-rmse:225.762
[25]	train-rmse:268.457	eval-rmse:218.858
[26]	train-rmse:259.468	eval-rmse:213.098
[27]	train-rmse:251.188	eval-rmse:206.1
[28]	train-rmse:243.674	eval-rmse:201.979
[29]	train-rmse:236.057	eval-rmse:196.811
[30]	train-rmse:229.301	eval-rmse:192.184
[31]	train-rmse:222.912	eval-rmse:188.275
[32]	train-rmse:216.145	eval-rmse:183.606
[33]	train-rmse:209.706	eval-rmse:180.801
[34]	train-rmse:203.54	eval-rmse:177.884
[35]	train-rmse:197.133	eval-rmse:174.96
[36]	train-rmse:191.737	eval-rmse:172.129
[37]	train-rmse:186.473	eval-rmse:169.159
[38]	train-rmse:181.377	eval-rmse:166.359
[39]	train-rmse:176.674	eval-rmse:164.258
[40]	train-rmse:172.162	eval-rmse:162.804
[41]	train-rmse:168.376	eval-rmse:159.394
[42]	train-rmse:164.062	eval-rmse:157.556
[43]	train-rmse:159.903	eval-rmse:155.695
[44]	train-rmse:155.845	eval-rmse:154.398
[45]	train-rmse:151.827	eval-rmse:153.903
[46]	train-rmse:147.379	eval-rmse:151.314
[47]	train-rmse:143.672	eval-rmse:149.942
[48]	train-rmse:140.315	eval-rmse:148.95
[49]	train-rmse:136.317	eval-rmse:146.282
[50]	train-rmse:132.608	eval-rmse:145.544
[51]	train-rmse:130.1	eval-rmse:145.132
[52]	train-rmse:126.38	eval-rmse:144.303
[53]	train-rmse:123.645	eval-rmse:143.689
[54]	train-rmse:121.09	eval-rmse:143.746
[55]	train-rmse:118.405	eval-rmse:142.762
[56]	train-rmse:115.53	eval-rmse:142.299
[57]	train-rmse:113.077	eval-rmse:142.08
[58]	train-rmse:110.234	eval-rmse:140.838
[59]	train-rmse:107.259	eval-rmse:139.683
[60]	train-rmse:104.814	eval-rmse:139.449
[61]	train-rmse:102.432	eval-rmse:138.712
[62]	train-rmse:100.324	eval-rmse:138.004
[63]	train-rmse:98.044	eval-rmse:137.776
[64]	train-rmse:96.0565	eval-rmse:137.573
[65]	train-rmse:94.0305	eval-rmse:137.62
[66]	train-rmse:91.6798	eval-rmse:136.87
[67]	train-rmse:89.6221	eval-rmse:136.525
[68]	train-rmse:87.509	eval-rmse:135.991
[69]	train-rmse:85.3097	eval-rmse:135.523
[70]	train-rmse:83.208	eval-rmse:135.549
[71]	train-rmse:81.5418	eval-rmse:135.232
[72]	train-rmse:79.3814	eval-rmse:135.008
[73]	train-rmse:77.9026	eval-rmse:134.917
[74]	train-rmse:76.0861	eval-rmse:134.561
[75]	train-rmse:74.2134	eval-rmse:134.31
[76]	train-rmse:72.5448	eval-rmse:134.408
[77]	train-rmse:71.035	eval-rmse:134.125
[78]	train-rmse:69.4526	eval-rmse:134.096
[79]	train-rmse:67.9372	eval-rmse:133.905
[80]	train-rmse:67.1273	eval-rmse:133.487
[81]	train-rmse:65.6078	eval-rmse:133.495
[82]	train-rmse:64.5508	eval-rmse:133.305
[83]	train-rmse:63.5543	eval-rmse:133.648
[84]	train-rmse:62.3668	eval-rmse:133.925
[85]	train-rmse:61.1003	eval-rmse:134.123
[86]	train-rmse:59.9438	eval-rmse:134.261
[87]	train-rmse:58.5676	eval-rmse:134.388
[88]	train-rmse:58.1253	eval-rmse:134.453
[89]	train-rmse:56.8111	eval-rmse:134.356
[90]	train-rmse:55.7287	eval-rmse:134.236
[91]	train-rmse:54.5461	eval-rmse:134.469
[92]	train-rmse:53.2778	eval-rmse:134.518
[93]	train-rmse:52.2386	eval-rmse:134.538
[94]	train-rmse:51.2806	eval-rmse:134.522
[95]	train-rmse:50.4437	eval-rmse:134.598
[96]	train-rmse:49.8229	eval-rmse:134.771
[97]	train-rmse:48.8728	eval-rmse:134.52
[98]	train-rmse:48.208	eval-rmse:134.245
[99]	train-rmse:47.2709	eval-rmse:134.194
[100]	train-rmse:46.3952	eval-rmse:134.309
[101]	train-rmse:46.0248	eval-rmse:134.343
[102]	train-rmse:45.1163	eval-rmse:134.33
[103]	train-rmse:44.3786	eval-rmse:134.356
[104]	train-rmse:43.5095	eval-rmse:134.395
[105]	train-rmse:42.5473	eval-rmse:134.221
[106]	train-rmse:41.52	eval-rmse:134.402
[107]	train-rmse:40.676	eval-rmse:134.565
[108]	train-rmse:39.9992	eval-rmse:134.417
[109]	train-rmse:39.4816	eval-rmse:134.503
[110]	train-rmse:38.7859	eval-rmse:134.739
[111]	train-rmse:38.0981	eval-rmse:134.689
[112]	train-rmse:37.3546	eval-rmse:134.679
[113]	train-rmse:36.4479	eval-rmse:134.488
[114]	train-rmse:35.7231	eval-rmse:134.458
[115]	train-rmse:35.0888	eval-rmse:134.415
[116]	train-rmse:34.4006	eval-rmse:134.338
[117]	train-rmse:33.9101	eval-rmse:134.431
[118]	train-rmse:33.1441	eval-rmse:134.504
[119]	train-rmse:32.3835	eval-rmse:134.312
[120]	train-rmse:31.7685	eval-rmse:134.314
[121]	train-rmse:31.2816	eval-rmse:134.32
[122]	train-rmse:30.7848	eval-rmse:134.406
[123]	train-rmse:30.3361	eval-rmse:134.611
[124]	train-rmse:29.8867	eval-rmse:134.643
[125]	train-rmse:29.2173	eval-rmse:134.497
[126]	train-rmse:28.8444	eval-rmse:134.527
[127]	train-rmse:28.3329	eval-rmse:134.621
[128]	train-rmse:27.7397	eval-rmse:134.729
[129]	train-rmse:27.1952	eval-rmse:134.676
[130]	train-rmse:26.734	eval-rmse:134.692
[131]	train-rmse:26.3031	eval-rmse:134.791
[132]	train-rmse:25.8627	eval-rmse:134.852
Stopping. Best iteration:
[82]	train-rmse:64.5508	eval-rmse:133.305

In [171]:
gbm.save_model('./models/model_201801311400')

In [177]:
test_data = pd.read_csv('./data/yanchen_data_process_for_test_201801311836.csv')
print(test_data.head(5))
test_data_df = pd.DataFrame(np.array(test_data))
test_data_dm = xgb.DMatrix(test_data_df)

        0  1   2    3  4  5  6  7  8  9  10  11  12  13  14   15   16
0  103507  7  10  831  2  3  3  1  1  1   1   2   1   4   0  186  180
1  124140  7  10  783  2  1  3  0  1  1   1   2   1   4   0  285  263
2  125403  7  10  761  2  2  7  1  1  1   1   2   1   4   2  328  156
3  136916  7  10  106  3  5  4  1  1  1   1   2   1   4   0  145  162
4  169673  7  10  682  2  1  1  0  1  1   1   2   1   4   2  219  152

<font color=orange size=6>开始预测</font>

In [178]:
y_pred = gbm.predict(test_data_dm).round()
y_pred

array([  186.,   251.,   150.,   159.,   139.,   265.,   146.,    85.,
         357.,   263.,   126.,  2076.,   184.,   150.,   325.,   123.,
         275.,   134.,   217.,   253.,   570.,   414.,   345.,   346.,
         287.,   197.,   399.,    80.,   147.,   399.,   113.,  2333.,
         182.,  2510.,   376.,  1101.,   536.,   605.,   507.,   138.,
         143.,   120.,   392.,    97.,   310.,   123.,   745.,   232.,
          86.,   144.,  1662.,   112.,   202.,   128.,  1934.,   422.,
         123.,   148.,   248.,   170.,   108.,   101.,   152.,   219.,
         191.,   343.,   196.,   151.,    75.,   379.,    46.,   165.,
         330.,   155.,   117.,   346.,   258.,   440.,   248.,   179.,
         274.,   161.,   434.,   166.,   376.,   380.,  1056.,   688.,
         126.,   204.,   116.,   168.,   663.,   101.,   308.,    82.,
         580.,   544.,   171.,   227.,   224.,   455.,   120.,   169.,
         217.,  2467.,   213.,   988.,   500.,   826.,  1067.,   117.,
          51.,   147.,    72.,   120.,   160.,   236.,   147.,   186.,
         172.,   128.,   217.,   193.,   159.,   238.,  1513.,   383.,
         187.,   531.,   620.,  1096.,    69.,  1164.,   998.,    87.,
         115.,   242.,   123.,   461.], dtype=float32)

In [179]:
pred_final = pd.read_csv("./data/yancheng_testA_20171225.csv")
for x in pred_final.index:
    pred_final['predict_quantity'][x] = y_pred[x]

C:\Users\jinda\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [180]:
pred_final.head(5)

   predict_date  class_id  predict_quantity
0        201711    103507             186.0
1        201711    124140             251.0
2        201711    125403             150.0
3        201711    136916             159.0
4        201711    169673             139.0

<font color=red size=6>保存最后数据</font>

In [181]:
pd.DataFrame.to_csv(pred_final, './results/result_201801312013.csv', index=False)